flow.json
[{"id":"3711ff2e.e13bf","type":"tab","label":"Digitals","disabled":false,"info":""},{"id":"2c9c8225.aca0fe","type":"tab","label":"Analog Alarms","disabled":false,"info":""},{"id":"acc8696e.dd6ae8","type":"tab","label":"Analog Scale","disabled":false,"info":""},{"id":"627ef3c4.f2321c","type":"tab","label":"Control Panel","disabled":false,"info":""},{"id":"b2cf18f9.40fb08","type":"tab","label":"DB Connections","disabled":false,"info":""},{"id":"2ea10ffc.f2785","type":"tab","label":"OS","disabled":false,"info":""},{"id":"f10266af.85d1d8","type":"tab","label":"System","disabled":false,"info":""},{"id":"49b0e8.21f0af18","type":"tab","label":"Firmware","disabled":false,"info":""},{"id":"b30f5484.d6e578","type":"tab","label":"Remote","disabled":false,"info":""},{"id":"a27eb0d8.3c2fa","type":"influxdb","z":"","hostname":"localhost","port":"8886","protocol":"http","database":"monicon_sess","name":"","usetls":false,"tls":""},{"id":"cb1b82bc.a26ae","type":"Stackhero-InfluxDB-v2-Server","z":"","name":"","host":"us-central1-1.gcp.cloud2.influxdata.com","port":"443","tls":true},{"id":"45a7d85a.401588","type":"ui_tab","z":"","name":"Control Panel","icon":"dashboard","disabled":false,"hidden":false},{"id":"4fe51183.62334","type":"ui_group","z":"","name":"Equipment Identification","tab":"45a7d85a.401588","order":4,"disp":true,"width":"6","collapse":false},{"id":"1e88062a.770d7a","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5d3de38b.30602c","type":"ui_group","z":"","name":"Scale Factor (k)","tab":"45a7d85a.401588","order":5,"disp":true,"width":"6","collapse":false},{"id":"ea8e7f4c.f8bcc","type":"ui_group","z":"","name":"Device Locator","tab":"45a7d85a.401588","order":1,"disp":true,"width":"6","collapse":false},{"id":"22362b2b.e9a1e4","type":"ui_group","z":"","name":"Digital Inputs","tab":"da91f024.78ee3","order":3,"disp":true,"width":"6","collapse":false},{"id":"da91f024.78ee3","type":"ui_tab","z":"","name":"IO Measurements","icon":"dashboard","disabled":false,"hidden":false},{"id":"682affd.438e7","type":"ui_group","z":"","name":"Device Locator","tab":"da91f024.78ee3","order":1,"disp":true,"width":"6","collapse":false},{"id":"8f5898a7.07fa48","type":"ui_group","z":"","name":"4..20mA Signals - 20sec Updates","tab":"da91f024.78ee3","order":4,"disp":true,"width":"6","collapse":false},{"id":"bf96246c.d919c8","type":"ui_group","z":"","name":"PT100 Signals - 20sec Updates","tab":"da91f024.78ee3","order":5,"disp":true,"width":"6","collapse":false},{"id":"2753fe30.136152","type":"ui_group","z":"","name":"Digital Outputs","tab":"da91f024.78ee3","order":2,"disp":true,"width":"6","collapse":false},{"id":"d342ae97.3b2ec","type":"ui_group","z":"","name":"Thresholds","tab":"45a7d85a.401588","order":6,"disp":true,"width":"6","collapse":false},{"id":"d8647c59.12493","type":"ui_tab","z":"","name":"Alarms","icon":"dashboard","disabled":false,"hidden":false},{"id":"18b9ac28.263ce4","type":"ui_group","z":"","name":"4n20mA HIGH Alarms","tab":"d8647c59.12493","order":3,"disp":true,"width":"6","collapse":false},{"id":"25e1adcb.525a02","type":"ui_group","z":"","name":"Device Locator","tab":"d8647c59.12493","order":1,"disp":true,"width":"6","collapse":false},{"id":"bbe1e6e.c044218","type":"ui_group","z":"","name":"4n20mA LOW Alarms","tab":"d8647c59.12493","order":2,"disp":true,"width":"6","collapse":false},{"id":"a0ab591e.494fc8","type":"ui_group","z":"","name":"PT100 LOW Alarms","tab":"d8647c59.12493","order":4,"disp":true,"width":"6","collapse":false},{"id":"5a0ef1e2.ddb77","type":"ui_group","z":"","name":"PT100 HIGH Alarms","tab":"d8647c59.12493","order":5,"disp":true,"width":"6","collapse":false},{"id":"1c5e7bce.dafe64","type":"ui_tab","z":"","name":"Parameters","icon":"dashboard","disabled":false,"hidden":false},{"id":"c9c66b1f.63bdc8","type":"ui_group","z":"","name":"4n20mA - LOW Parameter","tab":"1c5e7bce.dafe64","order":2,"disp":true,"width":"6","collapse":false},{"id":"d41c1003.34b84","type":"ui_group","z":"","name":"4n20mA - HIGH Parameter","tab":"1c5e7bce.dafe64","order":3,"disp":true,"width":"6","collapse":false},{"id":"64e82ef2.ffce3","type":"ui_group","z":"","name":"PT100 - LOW Parameter","tab":"1c5e7bce.dafe64","order":4,"disp":true,"width":"6","collapse":false},{"id":"d6b5f6cc.ac6ab8","type":"ui_group","z":"","name":"PT100 - HIGH Parameter","tab":"1c5e7bce.dafe64","order":5,"disp":true,"width":"6","collapse":false},{"id":"4952bdf6.d526e4","type":"ui_group","z":"","name":"Device Locator","tab":"1c5e7bce.dafe64","order":1,"disp":true,"width":"6","collapse":false},{"id":"2e9493b.19b276c","type":"ui_group","z":"","name":"Device Info","tab":"45a7d85a.401588","order":2,"disp":true,"width":"6","collapse":false},{"id":"e3d48d50.fae3f","type":"ui_group","z":"","name":"System Info","tab":"45a7d85a.401588","order":3,"disp":true,"width":"6","collapse":false},{"id":"1f86c7fe.575f98","type":"ui_group","z":"","name":"PT100 - LOW Active Alarm","tab":"1140bc77.403c34","order":8,"disp":true,"width":"6","collapse":false},{"id":"1053e3d8.f35acc","type":"ui_group","z":"","name":"PT100 - HIGH Active Alarm","tab":"1140bc77.403c34","order":9,"disp":true,"width":"6","collapse":false},{"id":"9cc24926.921388","type":"ui_group","z":"","name":"4n20 - LOW Active Alarm","tab":"1140bc77.403c34","order":6,"disp":true,"width":"6","collapse":false},{"id":"1c35732b.c16ddd","type":"ui_group","z":"","name":"4n20 - HIGH Active Alarm","tab":"1140bc77.403c34","order":7,"disp":true,"width":"6","collapse":false},{"id":"1140bc77.403c34","type":"ui_tab","z":"","name":"Alarm Config","icon":"dashboard","disabled":false,"hidden":false},{"id":"97964936.2f6b58","type":"ui_group","z":"","name":"Device Locator","tab":"1140bc77.403c34","order":5,"disp":true,"width":"6","collapse":false},{"id":"4da4ea34.630684","type":"influxdb","z":"","hostname":"localhost","port":"8886","protocol":"http","database":"monicon_sess","name":"","usetls":false,"tls":""},{"id":"da535876.280af8","type":"Stackhero-InfluxDB-v2-Server","z":"","name":"","host":"us-central1-1.gcp.cloud2.influxdata.com","port":"443","tls":true},{"id":"87e78a20.98ffc8","type":"ui_tab","z":"","name":"Control Panel","icon":"dashboard","disabled":false,"hidden":false},{"id":"5c1e3a03.f96f14","type":"ui_group","z":"","name":"Equipment Identification","tab":"87e78a20.98ffc8","order":4,"disp":true,"width":"6","collapse":false},{"id":"4d64fa3d.ad0334","type":"mqtt-broker","z":"","name":"","broker":"tailor.cloudmqtt.com","port":"10287","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"17102250.63705e","type":"ui_group","z":"","name":"Scale Factor (k)","tab":"87e78a20.98ffc8","order":5,"disp":true,"width":"6","collapse":false},{"id":"6fb0f864.ab50a8","type":"ui_group","z":"","name":"Device Locator","tab":"87e78a20.98ffc8","order":1,"disp":true,"width":"6","collapse":false},{"id":"1eb39dcf.402d42","type":"ui_group","z":"","name":"Digital Inputs","tab":"e30c5524.3b03b8","order":3,"disp":true,"width":"6","collapse":false},{"id":"e30c5524.3b03b8","type":"ui_tab","z":"","name":"IO Measurements","icon":"dashboard","disabled":false,"hidden":false},{"id":"3ccf8783.a39388","type":"ui_group","z":"","name":"Device Locator","tab":"e30c5524.3b03b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"c272663b.a14478","type":"ui_group","z":"","name":"4..20mA Signals - 20sec Updates","tab":"e30c5524.3b03b8","order":4,"disp":true,"width":"6","collapse":false},{"id":"72834d19.0b2444","type":"ui_group","z":"","name":"PT100 Signals - 20sec Updates","tab":"e30c5524.3b03b8","order":5,"disp":true,"width":"6","collapse":false},{"id":"7c778399.916a2c","type":"ui_group","z":"","name":"Digital Outputs","tab":"e30c5524.3b03b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"cc99a385.0e3b2","type":"ui_group","z":"","name":"Thresholds","tab":"87e78a20.98ffc8","order":6,"disp":true,"width":"6","collapse":false},{"id":"c287c0e5.10e9b","type":"ui_tab","z":"","name":"Alarms","icon":"dashboard","disabled":false,"hidden":false},{"id":"b237d978.a14268","type":"ui_group","z":"","name":"4n20mA HIGH Alarms","tab":"c287c0e5.10e9b","order":3,"disp":true,"width":"6","collapse":false},{"id":"ddf1255a.a41838","type":"ui_group","z":"","name":"Device Locator","tab":"c287c0e5.10e9b","order":1,"disp":true,"width":"6","collapse":false},{"id":"d2b9ab7b.2c0768","type":"ui_group","z":"","name":"4n20mA LOW Alarms","tab":"c287c0e5.10e9b","order":2,"disp":true,"width":"6","collapse":false},{"id":"6d37b4c5.91432c","type":"ui_group","z":"","name":"PT100 LOW Alarms","tab":"c287c0e5.10e9b","order":4,"disp":true,"width":"6","collapse":false},{"id":"7374f39a.81f2fc","type":"ui_group","z":"","name":"PT100 HIGH Alarms","tab":"c287c0e5.10e9b","order":5,"disp":true,"width":"6","collapse":false},{"id":"5e5f0080.da32c","type":"ui_tab","z":"","name":"Parameters","icon":"dashboard","disabled":false,"hidden":false},{"id":"100a187b.33f1a8","type":"ui_group","z":"","name":"4n20mA - LOW Parameter","tab":"5e5f0080.da32c","order":2,"disp":true,"width":"6","collapse":false},{"id":"3f923ce4.4e7424","type":"ui_group","z":"","name":"4n20mA - HIGH Parameter","tab":"5e5f0080.da32c","order":3,"disp":true,"width":"6","collapse":false},{"id":"61e2dc9d.93fca4","type":"ui_group","z":"","name":"PT100 - LOW Parameter","tab":"5e5f0080.da32c","order":4,"disp":true,"width":"6","collapse":false},{"id":"ac436fe4.bafe","type":"ui_group","z":"","name":"PT100 - HIGH Parameter","tab":"5e5f0080.da32c","order":5,"disp":true,"width":"6","collapse":false},{"id":"21a017d8.e1e498","type":"ui_group","z":"","name":"Device Locator","tab":"5e5f0080.da32c","order":1,"disp":true,"width":"6","collapse":false},{"id":"50eaefba.c2b8","type":"ui_group","z":"","name":"Device Info","tab":"87e78a20.98ffc8","order":2,"disp":true,"width":"6","collapse":false},{"id":"1865bad3.468e45","type":"ui_group","z":"","name":"System Info","tab":"87e78a20.98ffc8","order":3,"disp":true,"width":"6","collapse":false},{"id":"f3836776.24a948","type":"ui_group","z":"","name":"PT100 - LOW Active Alarm","tab":"2543fd32.5de642","order":8,"disp":true,"width":"6","collapse":false},{"id":"f848f227.646ba","type":"ui_group","z":"","name":"PT100 - HIGH Active Alarm","tab":"2543fd32.5de642","order":9,"disp":true,"width":"6","collapse":false},{"id":"3680207b.60e1c","type":"ui_group","z":"","name":"4n20 - LOW Active Alarm","tab":"2543fd32.5de642","order":6,"disp":true,"width":"6","collapse":false},{"id":"8b02168c.0a4558","type":"ui_group","z":"","name":"4n20 - HIGH Active Alarm","tab":"2543fd32.5de642","order":7,"disp":true,"width":"6","collapse":false},{"id":"2543fd32.5de642","type":"ui_tab","z":"","name":"Alarm Config","icon":"dashboard","disabled":false,"hidden":false},{"id":"9e65150.45f55e8","type":"ui_group","z":"","name":"Device Locator","tab":"2543fd32.5de642","order":5,"disp":true,"width":"6","collapse":false},{"id":"7e73cdd4.e0b814","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"https://us-central1-1.gcp.cloud2.influxdata.com","verifyservercert":true},{"id":"7dc9807f.d7441","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"d3e0d058.2c0df","type":"ui_group","z":"","name":"G1","tab":"f63880d3.c40ef","order":1,"disp":true,"width":"3","collapse":false},{"id":"4c053cda.6a4c04","type":"ui_group","z":"","name":"G1","tab":"83bb7073.89674","order":1,"disp":true,"width":"3","collapse":false},{"id":"f63880d3.c40ef","type":"ui_tab","z":"","name":"Config","icon":"dashboard","disabled":false,"hidden":false},{"id":"83bb7073.89674","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"27080b29.766574","type":"inject","z":"b2cf18f9.40fb08","name":"Trigger","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":80,"wires":[["2df922e1.7335ee"]]},{"id":"68f031fa.85588","type":"inject","z":"b2cf18f9.40fb08","name":"Trigger","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":300,"wires":[["4072fc6c.876694"]]},{"id":"6e7c8443.9ab65c","type":"comment","z":"b2cf18f9.40fb08","name":"RESET DATABASES","info":"","x":120,"y":40,"wires":[]},{"id":"40b5e28d.31f2ec","type":"comment","z":"b2cf18f9.40fb08","name":"CREATES DATABASES","info":"","x":130,"y":260,"wires":[]},{"id":"29b22e0f.cd0d32","type":"comment","z":"b2cf18f9.40fb08","name":"PT100 Analog Signals","info":"","x":120,"y":500,"wires":[]},{"id":"1d574d2.a3443b3","type":"function","z":"b2cf18f9.40fb08","name":"Remote Database","func":"var output = msg.payload.split(\",\");\nlet siteID = global.get(\"siteID\") || \"Site_IDxxx\"\n/*\noutput[0] = AI-0 // PT100\noutput[1] = AI-1 // PT100\noutput[2] = AI-2 // PT100\noutput[3] = AI-3 // PT100\noutput[4] = AI-4 // 4..20mA\noutput[5] = AI-5 // 4..20mA\noutput[6] = AI-6 // 4..20mA\noutput[7] = AI-7 // 4..20mA \noutput[8] = Device ID\noutput[9] = Location \n*/\n\n// Lighting\n//if (output.length > 4) {\n//    if (output[3].includes(\"Light\")) {\n//        output[4] = output[4].replace(/\\s+/g, '_')\n//        output[4] = output[4].concat(\".Lt\")\n//\t} else if (output[3].includes(\"Power\")) {\n//\t\toutput[4] = output[4].replace(/\\s+/g, '_')\n//\t\toutput[4] = output[4].concat(\".Pwr\")\n//\t}\n//}\n\n//output[1] = (output[1] / 1000).toFixed(2);\n\nstructureObject();\n\nreturn msg;\n        \nfunction structureObject() {\n\tmsg.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\t//Analogs: msg.topic,\n\t\t\t\tdatabaseID: output[9]\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\t_4n20_7: parseFloat(output[0]),\n\t\t\t\t_4n20_6: parseFloat(output[1]),\n\t\t\t\t_4n20_5: parseFloat(output[2]),\n\t\t\t\t_4n20_4: parseFloat(output[3]),\n\t\t\t\t_4n20_3: parseFloat(output[4]),\n\t\t\t\t_4n20_2: parseFloat(output[5]),\n\t\t\t\t_4n20_1: parseFloat(output[6]),\n\t\t\t\t_4n20_0: parseFloat(output[7]),\n\t\t\t\tTRUC_VERSION: \"\\\"\" + output[8] + \"\\\"\",\n\t\t\t\tdatabaseID: \"\\\"\" + output[9] + \"\\\"\"\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":460,"wires":[["8ef9007c.53ec7"]]},{"id":"34d8c83a.4a34d8","type":"function","z":"b2cf18f9.40fb08","name":"Local Database","func":"var output = msg.payload.split(\",\");\nlet siteID = global.get(\"siteID\") || \"Site_IDxxx\"\n//output[0] = Voltage\n//output[1] = Current\n//output[2] = Kilowatts\n//output[3] = type\n//output[4] = Room Name\n\nmsg.payload = [\n    {\n        measurement: \"Monicon-Local-DB\",\n\n        fields: {\n\t\t\t_4n20_7: parseFloat(output[0]),\n\t\t\t_4n20_6: parseFloat(output[1]),\n\t\t\t_4n20_5: parseFloat(output[2]),\n\t\t\t_4n20_4: parseFloat(output[3]),\n\t\t\t_4n20_3: parseFloat(output[4]),\n\t\t\t_4n20_2: parseFloat(output[5]),\n\t\t\t_4n20_1: parseFloat(output[6]),\n\t\t\t_4n20_0: parseFloat(output[7]),\n\t\t\t_ID: output[8],\n\t\t\tdatabaseID: output[9]\n\t\t},\n\t\t\n        tags:{\n            PLC: output[9] || \"MoniconPLC-1\"\n        },\n        //timestamp: Date.now()\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":420,"wires":[["58680887.0304a8"]]},{"id":"e740ada4.b2d6d","type":"mqtt in","z":"2ea10ffc.f2785","name":"","topic":"MONICON/CMD/OS/","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":140,"y":160,"wires":[["10519268.9bf88e","c912fd0c.c5ba6","63cc99ae.287bf8","acfc7a74.e46ad8","ea955b80.725618","e3a9c659.4eda98"]]},{"id":"b2854ec2.88","type":"function","z":"2ea10ffc.f2785","name":"IP Addr","func":"var data = msg.payload.networkInterfaces.wlan0[0].address\nmsg1 = { payload: data, topic: \"MONICON/STAT/OS/IP\" };\nreturn msg1;","outputs":1,"noerr":0,"x":580,"y":320,"wires":[["40bf666c.7362a8","9d4e7c9a.66d9a"]]},{"id":"c7e00324.83b51","type":"function","z":"2ea10ffc.f2785","name":"Uptime","func":"var data = msg.payload.uptime\n\nlet days = parseInt(data / 86400)\nlet hours = parseInt((data % 86400) / 3600)\nlet minutes = parseInt(((data % 86400) % 3600) / 60)\nlet secs = parseInt(((data % 86400) % 3600) % 60)\n\nlet msg1 = {payload: \"Days[\" + days + \"] Hours[\" + hours + \"] Mins[\" + minutes + \"] Sec[\" + secs + \"]\", topic: \"MONICON/STAT/OS/UPTIME\"}\n\nreturn msg1\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":360,"wires":[["40bf666c.7362a8","4c1e5608.9c6b98","6f7c48b3.585448"]]},{"id":"40bf666c.7362a8","type":"mqtt out","z":"2ea10ffc.f2785","name":"","topic":"","qos":"","retain":"","broker":"7dc9807f.d7441","x":870,"y":60,"wires":[]},{"id":"50b32db0.876384","type":"function","z":"2ea10ffc.f2785","name":"Model","func":"var data = msg.payload.cpus[0].model\nmsg1 = { payload: data, topic: \"MONICON/STAT/OS/MODEL\" };\nreturn msg1;","outputs":1,"noerr":0,"x":590,"y":280,"wires":[["40bf666c.7362a8","d2a449b3.bf1ec8"]]},{"id":"c56d09aa.fd27e8","type":"function","z":"2ea10ffc.f2785","name":"Disk Size (GB)","func":"var data = msg.payload[0]\n\nvar diskSize = String((data.size / 1000000).toFixed(2)) + \",\" + String((data.used / 1000000).toFixed(2)) + \",\" + String((data.available / 1000000).toFixed(2)) + \",\" + String((data.capacity * 100).toFixed(0))\n\nvar msg1 = { payload: diskSize, topic: \"MONICON/STAT/OS/DISK\" }\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":200,"wires":[["40bf666c.7362a8","984e4a3.c8edab8","360653be.4e088c"]]},{"id":"9d80f811.1fac98","type":"function","z":"2ea10ffc.f2785","name":"RAM (MB)","func":"var data = msg.payload\n\nvar ramSize = String((data.totalmem / 1000000).toFixed(2)) + \",\" + String((data.freemem / 1000000).toFixed(2)) + \",\" + String(parseFloat(data.memusage).toFixed(0))\n\nvar msg1 = { payload: ramSize, topic: \"MONICON/STAT/OS/RAM\" }\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":120,"wires":[["40bf666c.7362a8","45924010.abbac"]]},{"id":"984e4a3.c8edab8","type":"function","z":"2ea10ffc.f2785","name":"Scale","func":"let siteID = global.get(\"siteID\") || \"Site_IDxxx\"\nvar output = msg.payload.split(\",\");\n//output[0] = Voltage\n//output[1] = Current\n//output[2] = Kilowatts\n//output[3] = type\n//output[4] = Room Name\n\n        \n    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            TotalMem: parseFloat(output[0]),\n            UsedMem: parseFloat(output[1]),\n            FreeMem: parseFloat(output[2]),\n            PercentMem: parseFloat(output[3])\n        },\n        tags:{\n            System: \"HDD\"\n        }\n    }];\n    \nvar msg1 = {};\n\nstructureObject();\n\nreturn [[msg], [msg1]];\n        \nfunction structureObject() {\n\tmsg1.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"HDD\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tTotalMem: parseFloat(output[0]),\n                UsedMem: parseFloat(output[1]),\n                FreeMem: parseFloat(output[2]),\n                PercentMem: parseFloat(output[3])\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":870,"y":160,"wires":[["976317b7.207628"],["40e10f5d.93445"]]},{"id":"2e8492e.d556e6e","type":"inject","z":"2ea10ffc.f2785","name":"30sec Cycle","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":140,"y":40,"wires":[["63167816.10c038"]]},{"id":"d2a449b3.bf1ec8","type":"function","z":"2ea10ffc.f2785","name":"Scale","func":"let siteID = global.get(\"siteID\") || \"Site_IDxxx\"\n    //msg.payload = msg.payload.replace(/\\s+/g, '_')\n    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            Model: msg.payload\n        },\n        tags:{\n            System: \"Model\"\n        }\n    }];\n    \nvar msg1 = {};\n\nstructureObject();\n\nreturn [[msg], [msg1]];\n        \nfunction structureObject() {\n\tmsg1.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"Model\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tModel: \"\\\"\" + msg.payload[0].fields.Model + \"\\\"\"\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":870,"y":280,"wires":[["d2a26bd4.5d2418"],["f0cd8501.0ff3e8"]]},{"id":"9d4e7c9a.66d9a","type":"function","z":"2ea10ffc.f2785","name":"Scale","func":"let siteID = global.get(\"siteID\") || \"Site_IDxxx\"\n    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            IPAddr: msg.payload\n        },\n        tags:{\n            System: \"IP\"\n        }\n    }];\n    \nvar msg1 = {};\n\nstructureObject();\n\nreturn [[msg], [msg1]];\n        \nfunction structureObject() {\n\tmsg1.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"IP\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tIPAddr: \"\\\"\" + msg.payload[0].fields.IPAddr + \"\\\"\"\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":870,"y":320,"wires":[["d2a26bd4.5d2418"],["f0cd8501.0ff3e8"]]},{"id":"4c1e5608.9c6b98","type":"function","z":"2ea10ffc.f2785","name":"Scale","func":"let siteID = global.get(\"siteID\") || \"Site_IDxxx\"\nlet deploys = global.get(\"deploys\") || 0;\n\n    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            Uptime: msg.payload,\n            Deploys: parseFloat(deploys)\n        },\n        tags:{\n            System: \"UPTIME\"\n        }\n    }];\n    \nvar msg1 = {};\n\nstructureObject();\n\nreturn [[msg], [msg1]];\n        \nfunction structureObject() {\n\tmsg1.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"UPTIME\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tUptime: \"\\\"\" + msg.payload[0].fields.Uptime + \"\\\"\",\n\t\t\t\tDeploys: parseFloat(deploys)\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":870,"y":360,"wires":[["d2a26bd4.5d2418"],["f0cd8501.0ff3e8"]]},{"id":"e7491bf.3b329e8","type":"function","z":"2ea10ffc.f2785","name":"Scale","func":"let siteID = global.get(\"siteID\") || \"Site_IDxxx\"\n    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            Hostname: msg.payload,\n        },\n        tags:{\n            System: \"Hostname\",\n        }\n    }];\n    \nvar msg1 = {};\n\nstructureObject();\n\nreturn [[msg], [msg1]];\n        \nfunction structureObject() {\n\tmsg1.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"Hostname\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tHostname: \"\\\"\" + String(msg.payload[0].fields.Hostname) + \"\\\"\",\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":870,"y":240,"wires":[["d2a26bd4.5d2418"],["f0cd8501.0ff3e8"]]},{"id":"45924010.abbac","type":"function","z":"2ea10ffc.f2785","name":"Scale","func":"let siteID = global.get(\"siteID\") || \"Site_IDxxx\"\nvar output = msg.payload.split(\",\");\n\n    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            TotalRam: parseFloat(output[0]),\n            FreeRam: parseFloat(output[1]),\n            PercentRam: parseFloat(output[2])\n        },\n        tags:{\n            System: \"RAM\"\n        }\n    }];\n    \nvar msg1 = {};\n\nstructureObject();\n\nreturn [[msg], [msg1]];\n        \nfunction structureObject() {\n\tmsg1.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"RAM\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tTotalRam: parseFloat(output[0]),\n                FreeRam: parseFloat(output[1]),\n                PercentRam: parseFloat(output[2])\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":870,"y":120,"wires":[["976317b7.207628"],["40e10f5d.93445"]]},{"id":"9a1e5da4.57358","type":"function","z":"2ea10ffc.f2785","name":"Hostname","func":"var data = msg.payload.hostname\nmsg1 = { payload: data, topic: \"MONICON/STAT/OS/Hostname\" };\nreturn msg1;","outputs":1,"noerr":0,"x":570,"y":240,"wires":[["e7491bf.3b329e8"]]},{"id":"c4d65a8.75e26a8","type":"exec","z":"f10266af.85d1d8","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":810,"y":300,"wires":[[],["75616733.28e848"],[]]},{"id":"8dc42a37.a0ee08","type":"inject","z":"f10266af.85d1d8","name":"12hr Interval","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"43200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":120,"y":300,"wires":[["c4d65a8.75e26a8"]]},{"id":"b769916.f3b627","type":"function","z":"2ea10ffc.f2785","name":"Temperature","func":"var data = msg.payload\nmsg1 = { payload: data, topic: \"MONICON/STAT/OS/Temperature\" };\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":440,"wires":[["b87eb27d.e0055","40bf666c.7362a8","408d8e60.8fa48"]]},{"id":"b87eb27d.e0055","type":"function","z":"2ea10ffc.f2785","name":"Scale","func":"let siteID = global.get(\"siteID\") || \"Site_IDxxx\"  \n    msg.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            Temperature: msg.payload,\n        },\n        tags:{\n            System: \"Temperature\",\n        }\n    }];\n    \nvar msg1 = {};\n\nstructureObject();\n\nreturn [[msg], [msg1]];\n        \nfunction structureObject() {\n\tmsg1.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"Temperature\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tTemperature: parseFloat(msg.payload[0].fields.Temperature),\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":870,"y":440,"wires":[["a2efb661.b64838"],["2b2602f2.dd0b6e"]]},{"id":"8ef9007c.53ec7","type":"Stackhero-InfluxDB-v2-write","z":"b2cf18f9.40fb08","server":"da535876.280af8","name":"SESS_ID001","x":950,"y":460,"wires":[[]]},{"id":"1e842050.e88e4","type":"influxdb out","z":"b2cf18f9.40fb08","influxdb":"4da4ea34.630684","name":"","measurement":"","precision":"","retentionPolicy":"","x":1010,"y":80,"wires":[]},{"id":"5c1932c.7434dcc","type":"influxdb out","z":"b2cf18f9.40fb08","influxdb":"4da4ea34.630684","name":"","measurement":"","precision":"","retentionPolicy":"","x":990,"y":300,"wires":[]},{"id":"58680887.0304a8","type":"influxdb batch","z":"b2cf18f9.40fb08","influxdb":"4da4ea34.630684","precision":"","retentionPolicy":"","name":"","x":1010,"y":420,"wires":[]},{"id":"2df922e1.7335ee","type":"influxdb in","z":"b2cf18f9.40fb08","influxdb":"4da4ea34.630684","name":"monicon.sess","query":"DROP DATABASE monicon_sess","rawOutput":false,"precision":"","retentionPolicy":"","x":760,"y":80,"wires":[["1e842050.e88e4"]]},{"id":"4072fc6c.876694","type":"influxdb in","z":"b2cf18f9.40fb08","influxdb":"4da4ea34.630684","name":"monicon.sess","query":"CREATE DATABASE monicon_sess","rawOutput":false,"precision":"","retentionPolicy":"","x":740,"y":300,"wires":[["5c1932c.7434dcc"]]},{"id":"f5781b31.f26eb8","type":"string","z":"b2cf18f9.40fb08","name":"Sectionaliser ","methods":[{"name":"getRightMost","params":[{"type":"str","value":"ProPower-ESP/Device/"}]}],"prop":"topic","propout":"topic","object":"msg","objectout":"msg","x":290,"y":420,"wires":[["1d574d2.a3443b3","34d8c83a.4a34d8"]]},{"id":"63cc99ae.287bf8","type":"OS","z":"2ea10ffc.f2785","name":"","x":370,"y":240,"wires":[["9a1e5da4.57358"]]},{"id":"acfc7a74.e46ad8","type":"Drives","z":"2ea10ffc.f2785","name":"","x":370,"y":200,"wires":[["c56d09aa.fd27e8"]]},{"id":"e3a9c659.4eda98","type":"Uptime","z":"2ea10ffc.f2785","name":"","x":380,"y":360,"wires":[["c7e00324.83b51"]]},{"id":"c912fd0c.c5ba6","type":"CPUs","z":"2ea10ffc.f2785","name":"","x":370,"y":280,"wires":[["50b32db0.876384"]]},{"id":"ea955b80.725618","type":"Memory","z":"2ea10ffc.f2785","name":"","x":380,"y":120,"wires":[["9d80f811.1fac98"]]},{"id":"10519268.9bf88e","type":"NetworkIntf","z":"2ea10ffc.f2785","name":"","x":390,"y":320,"wires":[["b2854ec2.88"]]},{"id":"ffa8760a.d9dc98","type":"cpu","z":"2ea10ffc.f2785","name":"","msgCore":false,"msgOverall":false,"msgArray":false,"msgTemp":true,"x":390,"y":440,"wires":[["b769916.f3b627"]]},{"id":"5e0c5164.8d794","type":"comment","z":"b2cf18f9.40fb08","name":"4n20 Analog Signals","info":"","x":110,"y":380,"wires":[]},{"id":"d3ea96e4.c9d7f8","type":"function","z":"b2cf18f9.40fb08","name":"Remote Database","func":"var output = msg.payload.split(\",\");\nlet siteID = global.get(\"siteID\") || \"Site_IDxxx\"\n\n/*\noutput[0] = AI-0 // PT100\noutput[1] = AI-1 // PT100\noutput[2] = AI-2 // PT100\noutput[3] = AI-3 // PT100\noutput[4] = AI-4 // 4..20mA\noutput[5] = AI-5 // 4..20mA\noutput[6] = AI-6 // 4..20mA\noutput[7] = AI-7 // 4..20mA \noutput[8] = Device ID\noutput[9] = Location \n*/\n\n// Lighting\n//if (output.length > 4) {\n//    if (output[3].includes(\"Light\")) {\n//        output[4] = output[4].replace(/\\s+/g, '_')\n//        output[4] = output[4].concat(\".Lt\")\n//\t} else if (output[3].includes(\"Power\")) {\n//\t\toutput[4] = output[4].replace(/\\s+/g, '_')\n//\t\toutput[4] = output[4].concat(\".Pwr\")\n//\t}\n//}\n\n//output[1] = (output[1] / 1000).toFixed(2);\n\nstructureObject();\n\nreturn msg;\n        \nfunction structureObject() {\n\tmsg.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\t//Analogs: msg.topic,\n\t\t\t\tdatabaseID: output[9]\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\t_PT100_7: parseFloat(output[0]),\n\t\t\t\t_PT100_6: parseFloat(output[1]),\n\t\t\t\t_PT100_5: parseFloat(output[2]),\n\t\t\t\t_PT100_4: parseFloat(output[3]),\n\t\t\t\t_PT100_3: parseFloat(output[4]),\n\t\t\t\t_PT100_2: parseFloat(output[5]),\n\t\t\t\t_PT100_1: parseFloat(output[6]),\n\t\t\t\t_PT100_0: parseFloat(output[7]),\n\t\t\t\tTRUC_VERSION: \"\\\"\" + output[8] + \"\\\"\",\n\t\t\t\tdatabaseID: \"\\\"\" + output[9] + \"\\\"\"\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":580,"wires":[["15c3cabe.647005"]]},{"id":"9894602b.4d2e7","type":"function","z":"b2cf18f9.40fb08","name":"Local Database","func":"var output = msg.payload.split(\",\");\nlet siteID = global.get(\"siteID\") || \"Site_IDxxx\"\n//output[0] = Voltage\n//output[1] = Current\n//output[2] = Kilowatts\n//output[3] = type\n//output[4] = Room Name\n\nmsg.payload = [\n    {\n        measurement: \"Monicon-Local-DB\",\n\n        fields: {\n\t\t\t_PT100_7: parseFloat(output[0]),\n\t\t\t_PT100_6: parseFloat(output[1]),\n\t\t\t_PT100_5: parseFloat(output[2]),\n\t\t\t_PT100_4: parseFloat(output[3]),\n\t\t\t_PT100_3: parseFloat(output[4]),\n\t\t\t_PT100_2: parseFloat(output[5]),\n\t\t\t_PT100_1: parseFloat(output[6]),\n\t\t\t_PT100_0: parseFloat(output[7]),\n\t\t\t_ID: output[8],\n\t\t\tdatabaseID: output[9]\n\t\t},\n        tags:{\n            PLC: output[9] || \"MoniconPLC-1\"\n        },\n        //timestamp: Date.now()\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":540,"wires":[["591ca3a9.3d827c"]]},{"id":"15c3cabe.647005","type":"Stackhero-InfluxDB-v2-write","z":"b2cf18f9.40fb08","server":"da535876.280af8","name":"SESS_ID001","x":950,"y":580,"wires":[[]]},{"id":"591ca3a9.3d827c","type":"influxdb batch","z":"b2cf18f9.40fb08","influxdb":"4da4ea34.630684","precision":"","retentionPolicy":"","name":"","x":1010,"y":540,"wires":[]},{"id":"7c36d662.56fb38","type":"string","z":"b2cf18f9.40fb08","name":"Sectionaliser ","methods":[{"name":"getRightMost","params":[{"type":"str","value":"ProPower-ESP/Device/"}]}],"prop":"topic","propout":"topic","object":"msg","objectout":"msg","x":290,"y":540,"wires":[["d3ea96e4.c9d7f8","9894602b.4d2e7"]]},{"id":"c3d5fbce.3b6318","type":"exec","z":"2ea10ffc.f2785","command":"iw dev | grep ssid | awk '{print $2}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"SSID","x":370,"y":540,"wires":[["824d0033.e0feb"],[],[]]},{"id":"582913d0.3c9a2c","type":"function","z":"2ea10ffc.f2785","name":"Scale","func":"let siteID = global.get(\"siteID\") || \"Site_IDxxx\"\nvar msg1 = {};\n\n    msg1.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            SSID: msg.payload,\n            SiteID: siteID\n        },\n        tags:{\n            System: \"SSID\",\n        }\n    }];\n    \nvar msg2 = {};\n\nstructureObject();\n\nreturn [[msg1], [msg2]];\n        \nfunction structureObject() {\n\tmsg2.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"SSID\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tSSID: \"\\\"\" + msg.payload + \"\\\"\",\n\t\t\t\tSiteID: \"\\\"\" + siteID + \"\\\"\",\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":870,"y":520,"wires":[["a2efb661.b64838"],["2b2602f2.dd0b6e"]]},{"id":"824d0033.e0feb","type":"function","z":"2ea10ffc.f2785","name":"SSID","func":"var data = String(msg.payload.replace(/[\\n\\r]+/g, ' ').replace(/\\s{2,}/g,' ').replace(/^\\s+|\\s+$/,'') )\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":520,"wires":[["582913d0.3c9a2c"]]},{"id":"58da2106.23e5b","type":"mqtt in","z":"acc8696e.dd6ae8","name":"","topic":"MONICON-PLC/Device/AI_4n20/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":160,"y":80,"wires":[["6a2caf4a.dc563","a913fff.46691"]]},{"id":"97d5a89a.edf438","type":"mqtt in","z":"acc8696e.dd6ae8","name":"","topic":"MONICON-PLC/Device/AI_PT100/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":160,"y":160,"wires":[["8fe384e4.a61818","a913fff.46691"]]},{"id":"6a2caf4a.dc563","type":"link out","z":"acc8696e.dd6ae8","name":"L-OUT-AI_4n20","links":["311cc9da.295866","3e649a44.6ae766","8c44fdb.0d691","fb825d88.14935","e4b05cb6.755b4","61980d7c.a4f6f4","88c2d23c.6ec84"],"x":655,"y":80,"wires":[]},{"id":"8fe384e4.a61818","type":"link out","z":"acc8696e.dd6ae8","name":"L-OUT-AI_PT100","links":["d40653c7.effc4","66c7c1c4.59cb1","86a52f8.d751fd","809e3c8c.14b8c","88c2d23c.6ec84"],"x":655,"y":160,"wires":[]},{"id":"8c44fdb.0d691","type":"link in","z":"b2cf18f9.40fb08","name":"","links":["6a2caf4a.dc563"],"x":35,"y":420,"wires":[["f5781b31.f26eb8"]]},{"id":"66c7c1c4.59cb1","type":"link in","z":"b2cf18f9.40fb08","name":"","links":["8fe384e4.a61818"],"x":35,"y":540,"wires":[["7c36d662.56fb38"]]},{"id":"2b881e8b.ebc6f2","type":"mqtt in","z":"3711ff2e.e13bf","name":"","topic":"MONICON-PLC/STAT/DigitalInputs/DI_00/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":80,"wires":[["4de161e4.ea4c3"]]},{"id":"9d626da0.bdc61","type":"mqtt in","z":"3711ff2e.e13bf","name":"","topic":"MONICON-PLC/STAT/DigitalInputs/DI_01/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":140,"wires":[["4de161e4.ea4c3"]]},{"id":"97e88842.6d57e8","type":"mqtt in","z":"3711ff2e.e13bf","name":"","topic":"MONICON-PLC/STAT/DigitalInputs/DI_02/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":200,"wires":[["4de161e4.ea4c3"]]},{"id":"aa0a2541.578158","type":"mqtt in","z":"3711ff2e.e13bf","name":"","topic":"MONICON-PLC/STAT/DigitalInputs/DI_03/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":260,"wires":[["4de161e4.ea4c3"]]},{"id":"6200a4c0.622e1c","type":"mqtt in","z":"3711ff2e.e13bf","name":"","topic":"MONICON-PLC/STAT/DigitalInputs/DI_04/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":320,"wires":[["4de161e4.ea4c3"]]},{"id":"46e59b1e.981854","type":"mqtt in","z":"3711ff2e.e13bf","name":"","topic":"MONICON-PLC/STAT/DigitalInputs/DI_05/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":380,"wires":[["4de161e4.ea4c3"]]},{"id":"e2f2fdde.ac3d8","type":"mqtt in","z":"3711ff2e.e13bf","name":"","topic":"MONICON-PLC/STAT/DigitalInputs/DI_06/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":440,"wires":[["4de161e4.ea4c3"]]},{"id":"fc586b85.013b58","type":"comment","z":"3711ff2e.e13bf","name":"Digital Input Status Bits","info":"","x":120,"y":40,"wires":[]},{"id":"eb43c9eb.e75de8","type":"e-mail","z":"627ef3c4.f2321c","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"monicon.sess@gmail.com","x":940,"y":160,"wires":[]},{"id":"fdd1ffd5.96da1","type":"comment","z":"627ef3c4.f2321c","name":"Send Email Notification","info":"","x":140,"y":40,"wires":[]},{"id":"21655670.cd70ea","type":"mqtt in","z":"2c9c8225.aca0fe","name":"","topic":"MONICON-PLC/Device/4n20_Flags/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":170,"y":200,"wires":[["faef65fa.d49248","a051b1c0.37fbd"]]},{"id":"d34fea20.230bf8","type":"mqtt in","z":"2c9c8225.aca0fe","name":"","topic":"MONICON-PLC/Device/PT100_Flags/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":170,"y":80,"wires":[["4182219a.d613a","a051b1c0.37fbd"]]},{"id":"a600eaa8.ae5f08","type":"comment","z":"2c9c8225.aca0fe","name":"Analog Alarms 1st <8x PT100 LOW Alarms> | 2nd <8x PT100 HIGH Alarms>","info":"","x":290,"y":40,"wires":[]},{"id":"f3d42b0d.424e38","type":"mqtt in","z":"2c9c8225.aca0fe","name":"","topic":"MONICON-PLC/Device/Alarm_4n20/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":170,"y":420,"wires":[["d6eb1a78.b65638"]]},{"id":"46154c28.3d3954","type":"mqtt in","z":"2c9c8225.aca0fe","name":"","topic":"MONICON-PLC/Device/Alarm_PT100/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":170,"y":340,"wires":[["356d9b5a.3c3144"]]},{"id":"dfc054d4.2311b8","type":"comment","z":"2c9c8225.aca0fe","name":"4n20mA Low Alarm - Rising Edge Trigger | <AI-ID> | <Limit-Type> | <Equip-Name>","info":"","x":310,"y":300,"wires":[]},{"id":"356d9b5a.3c3144","type":"link out","z":"2c9c8225.aca0fe","name":"L-ALM-PT100","links":["24b6498f.3cbc66"],"x":475,"y":340,"wires":[]},{"id":"d6eb1a78.b65638","type":"link out","z":"2c9c8225.aca0fe","name":"L-ALM-4n20","links":["ca832a45.b403e8"],"x":475,"y":420,"wires":[]},{"id":"24b6498f.3cbc66","type":"link in","z":"627ef3c4.f2321c","name":"","links":["356d9b5a.3c3144"],"x":75,"y":120,"wires":[["460a8770.160218"]]},{"id":"d31bce42.baad5","type":"comment","z":"627ef3c4.f2321c","name":"Alarm PT100","info":"","x":110,"y":80,"wires":[]},{"id":"3b27d399.d9378c","type":"comment","z":"627ef3c4.f2321c","name":"Alarm 4n20","info":"","x":110,"y":180,"wires":[]},{"id":"ca832a45.b403e8","type":"link in","z":"627ef3c4.f2321c","name":"","links":["d6eb1a78.b65638"],"x":75,"y":240,"wires":[["faebc74a.71ca48"]]},{"id":"460a8770.160218","type":"function","z":"627ef3c4.f2321c","name":"Email Setup - PT100 Alarms","func":"/*\ndata[0] = PIN_ID\ndata[1] = Alarm Status\ndata[2] = PV\ndata[3] = Threshold Parameter\ndata[4] = Equipment ID\ndata[5] = Software Version\n\ntopic[0] = PLC_ID\ntopic[1] = CMD\ntopic[2] = Subject\ntopic[3] = Serial_ID\n*/\nlet siteID = global.get(\"siteID\") || \"Site_IDxxx\"\n\nlet subjectMSg_PT100 = global.get(\"subjectMSg_PT100\") || \"null\";                    //String\nlet bodyMSg_PT100 = global.get(\"bodyMSg_PT100\") || \"null\";                          //String\nlet addrTo_PT100 = global.get(\"addrTo_PT100\") || \"monicon.sess@gmail.com\";                            //String\nlet addrCc_PT100 = global.get(\"addrCc_PT100\") || \"\";                            //Strng\nlet addrBcc_PT100 = global.get(\"addrBcc_PT100\") || \"\";                          //String\nlet subjectParameters_PT100 = global.get(\"subjectParameters_PT100\") || \"null\";      //String of bools\nlet bodyParameters_PT100 = global.get(\"bodyParameters_PT100\") || \"null\";            //String of bools\n\n// Data splitting\nvar data = msg.payload.split(',')\nvar topic = msg.topic.split('/')\nlet subPara = subjectParameters_PT100.split('=');\nlet bodyPara = bodyParameters_PT100.split('=');\n\n// Subject Concatenation\nvar subject = subjectMSg_PT100;\nsubject += subPara[5] == \"1\" ? \" | Sensor Type - PT100 Alm\" : \"\";\nsubject += subPara[4] == \"1\" ? \" | Alarm Status - \" + data[1] : \"\";\nsubject += subPara[1] == \"1\" ? \" | Analog No. - \" + data[0] : \"\";\nsubject += subPara[2] == \"1\" ? \" | Site ID - \" + siteID : \"\";\nsubject += subPara[3] == \"1\" ? \" | Equipment ID - \" + data[4] : \"\";\nsubject += subPara[0] == \"1\" ? \" | Date & Time - \" + Date().toString() : \"\";\n\n// Subject Concatenation\nvar body = bodyMSg_PT100 + \"\\n\";\nbody += bodyPara[0] == \"1\" ? \"\\nDate & Time -\\t \" + Date().toString() : \"\";\nbody += bodyPara[5] == \"1\" ? \"\\nSensor Type -\\t PT100 Alm\" : \"\";\nbody += bodyPara[4] == \"1\" ? \"\\nAlarm Status -\\t \" + data[1] : \"\";\nbody += bodyPara[1] == \"1\" ? \"\\nAnalog No. -\\t \" + data[0] : \"\";\nbody += bodyPara[2] == \"1\" ? \"\\nSite ID -\\t \" + siteID : \"\";\nbody += bodyPara[3] == \"1\" ? \"\\nEquipment ID -\\t \" + data[4] : \"\";\nbody += bodyPara[9] == \"1\" ? \"\\nProcess Value -\\t \" + data[2] : \"\";\nbody += bodyPara[6] == \"1\" ? \"\\nThreshold Parameter -\\t \" + data[3] : \"\";\nbody += bodyPara[7] == \"1\" ? \"\\nSerial No. -\\t \" + topic[3] : \"\";\nbody += bodyPara[8] == \"1\" ? \"\\nSoftware Version -\\t \" + data[5] : \"\";\n\n// New Email Message\nmsg = {\n    payload: body,\n    topic: subject,\n    to: addrTo_PT100,\n    cc: addrCc_PT100,\n    bcc: addrBcc_PT100\n}\n\n// Old Email Message\n// msg = {\n//     payload : \"PT100 Alarm has been triggered.\\n\" +\n//     \"Equipment ID[\" + data[4] + \"]\\n\" + \n//     \"PT100 Sensor - AI[\" + data[0] + \"]\\n\" +\n//     \"Alarm Status[\" + data[1] +\"]\\n\" +\n//     \"Timestamp[\" + Date().toString() + \"]\" + \n//     \"Site_BS001\\n\" +\n//     \"AI Process Value[\" + data[2] + \"]\\n\" +\n//     \"Threshold Parameter[\" + data[3] + \"]\\n\" + \n//     \"Equipment ID[\" + data[4] + \"]\\n\\n\" +\n//     \"PLC_Model[\" + topic[0] + \"]\\n\" + \n//     \"Command Header[\" + topic[1] + \"]\\n\" +\n//     \"Command Subject[\" + topic[2] + \"]\\n\" +\n//     \"Device Serial No.[\" + topic[3] + \"]\\n\\n\" , // Body\n//     topic : \"Alarm Notification | PT100 Sensor - AI[\" + data[0] + \"] | Status[\" + data[1] +\"] | \" + \"Timestamp[\" + Date().toString() + \"]\", //Subject\n//     to : \"monicon.sess@gmail.com\",\n//     bcc : \"monicon.sys@gmail.com\"\n// };\n\nreturn msg;\n\n// let parameters = msg.payload.split('+');\n\n// if (parameters[5] == \"1\") // PT100 Configuration Parameters\n// {\n//     global.set(\"subjectMSg_PT100\", parameters[0]);            //String\n//     global.set(\"bodyMSg_PT100\", parameters[1]);               //String\n//     global.set(\"addrTo_PT100\", parameters[2]);                //String\n//     global.set(\"addrCc_PT100\", parameters[3]);                //Strng\n//     global.set(\"addrBcc_PT100\", parameters[4]);               //String\n//     global.set(\"subjectParameters_PT100\", parameters[6]);     //String of bools\n//     global.set(\"bodyParameters_PT100\", parameters[7]);        //String of bools\n// } else {\n//     global.set(\"subjectMSg_4n20\", parameters[0]);            //String\n//     global.set(\"bodyMSg_4n20\", parameters[1]);               //String\n//     global.set(\"addrTo_4n20\", parameters[2]);                //String\n//     global.set(\"addrCc_4n20\", parameters[3]);                //Strng\n//     global.set(\"addrBcc_4n20\", parameters[4]);               //String\n//     global.set(\"subjectParameters_4n20\", parameters[6]);     //String of bools\n//     global.set(\"bodyParameters_4n20\", parameters[7]);        //String of bools    \n// }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":120,"wires":[["eb43c9eb.e75de8"]]},{"id":"4182219a.d613a","type":"link out","z":"2c9c8225.aca0fe","name":"L-PT100-ALM_FLAGS","links":["3184a127.75ebfe","a10bac4a.3ef4b","b4007e9b.4946c"],"x":475,"y":80,"wires":[]},{"id":"faef65fa.d49248","type":"link out","z":"2c9c8225.aca0fe","name":"L-4n20-ALM_FLAGS","links":["35875a5a.263686"],"x":475,"y":200,"wires":[]},{"id":"122b4553.7a8e2b","type":"ui_text","z":"2ea10ffc.f2785","group":"1865bad3.468e45","order":3,"width":0,"height":0,"name":"","label":"Total Disk Space (GB)","format":"{{msg.payload}} GB","layout":"row-spread","x":1320,"y":180,"wires":[]},{"id":"360653be.4e088c","type":"function","z":"2ea10ffc.f2785","name":"Disk Size (GB)","func":"var data = msg.payload.split(',')\n\nvar msg1 = {payload: data[0]}\nvar msg2 = {payload: data[3]}\n\nreturn [[msg1], [msg2]];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":900,"y":200,"wires":[["122b4553.7a8e2b"],["19e849.69bf87b8"]]},{"id":"19e849.69bf87b8","type":"ui_text","z":"2ea10ffc.f2785","group":"1865bad3.468e45","order":4,"width":0,"height":0,"name":"","label":"Used Disk Space %","format":"{{msg.payload}} %","layout":"row-spread","x":1320,"y":220,"wires":[]},{"id":"6f7c48b3.585448","type":"ui_text","z":"2ea10ffc.f2785","group":"1865bad3.468e45","order":1,"width":0,"height":0,"name":"","label":"Uptime","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":400,"wires":[]},{"id":"408d8e60.8fa48","type":"ui_text","z":"2ea10ffc.f2785","group":"1865bad3.468e45","order":2,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}} ","layout":"row-spread","x":890,"y":480,"wires":[]},{"id":"5129d0fe.5eda2","type":"function","z":"f10266af.85d1d8","name":"reboot Counter","func":"var deploys = global.get(\"deploys\") || 0;\ndeploys = deploys + 1;\nglobal.set(\"deploys\", deploys);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":180,"wires":[[]]},{"id":"d6526d90.16256","type":"inject","z":"f10266af.85d1d8","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":90,"y":180,"wires":[["5129d0fe.5eda2"]]},{"id":"6dac37d6.41e618","type":"function","z":"b2cf18f9.40fb08","name":"Remote Database","func":"var output = msg.payload.split(\",\");\nvar topic = msg.topic.split(\"/\");\nlet siteID = global.get(\"siteID\") || \"Site_IDxxx\"\nlet depolys = global.get(\"depolys\") || 0\n\n// var msg1 = { payload : data[0] };   // RSSI\n// var msg2 = { payload : data[1] };   // WiFi Diconnection Counter\n// var msg3 = { payload : data[2] };   // MQTT Diconnection Counter\n// var msg4 = { payload : data[3] };   // Device IP\n\nstructureObject();\n\nreturn msg;\n        \nfunction structureObject() {\n\tmsg.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\t//Info: msg.topic,\n\t\t\t\tdatabaseID: output[7]\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tRSSI: parseFloat(output[0]),\n\t\t\t\tWIFI_DC: parseFloat(output[1]),\n    \t\t\tMQTT_DC: parseFloat(output[2]),\n    \t\t\tDEVICE_IP: \"\\\"\" + output[3] + \"\\\"\",\n    \t\t\tserialNo: parseFloat(topic[3]),\n    \t\t\tESP_Temp: parseFloat(output[4]),\n    \t\t\ttwentySecLoop: parseFloat(output[5]),\n    \t\t\tTRUC_VERSION: \"\\\"\" + output[6] + \"\\\"\",\n    \t\t\tdatabaseID: \"\\\"\" + output[7] + \"\\\"\",\n    \t\t\tEquipmentID: \"\\\"\" + output[8] + \"\\\"\"\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":700,"wires":[["6419276f.4cb148"]]},{"id":"beed1c0a.674a4","type":"function","z":"b2cf18f9.40fb08","name":"Local Database","func":"var output = msg.payload.split(\",\");\nvar topic = msg.topic.split(\"/\");\nlet siteID = global.get(\"siteID\") || \"Site_IDxxx\"\nlet depolys = global.get(\"depolys\") || 0\n// Display data\n// var data = msg.payload.split(',')\n// var msg1 = { payload : data[0] };   // RSSI\n// var msg2 = { payload : data[1] };   // WiFi Diconnection Counter\n// var msg3 = { payload : data[2] };   // MQTT Diconnection Counter\n// var msg4 = { payload : data[3] };   // Device IP\n\n\nmsg.payload = [\n    {\n        measurement: \"Monicon-Local-DB\",\n\n        fields: {\n\t\t\tRSSI: parseFloat(output[0]),\n\t\t\tWIFI_DC: parseFloat(output[1]),\n\t\t\tMQTT_DC: parseFloat(output[2]),\n\t\t\tDEVICE_IP: String(output[3]),\n\t\t\tSerialNo: String(topic[3]),\n\t\t\tESP_Temp: parseFloat(output[4]),\n\t\t\ttwentySecLoop: parseFloat(output[5]),\n\t\t\tTRUC_VERSION: output[6],\n\t\t\tdatabaseID: output[7],\n\t\t\tEquipmentID: output[8]\n\n\t\t},\n        tags:{\n            PLC: output[7] || \"MoniconPLC-1\"\n        },\n        //timestamp: Date.now()\n    }];\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":660,"wires":[["1da34d8f.9093c2"]]},{"id":"6419276f.4cb148","type":"Stackhero-InfluxDB-v2-write","z":"b2cf18f9.40fb08","server":"da535876.280af8","name":"SESS_ID001","x":950,"y":700,"wires":[[]]},{"id":"1da34d8f.9093c2","type":"influxdb batch","z":"b2cf18f9.40fb08","influxdb":"4da4ea34.630684","precision":"","retentionPolicy":"","name":"","x":1010,"y":660,"wires":[]},{"id":"ac430fac.46701","type":"mqtt in","z":"b2cf18f9.40fb08","name":"","topic":"MONICON-PLC/Device/Status/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":150,"y":660,"wires":[["beed1c0a.674a4","6dac37d6.41e618"]]},{"id":"f0058683.db3368","type":"function","z":"2ea10ffc.f2785","name":"Used mem(SSD)","func":"let msg1 = {payload : \"df -h | grep -i sda1 | awk '{print $3\\\"/\\\"}';df -h | grep -i sda1 | awk '{print $2}'\", topic :\"Used mem(SSD)\"}\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":600,"wires":[["b4b35fd2.373e6"]]},{"id":"b4b35fd2.373e6","type":"exec","z":"2ea10ffc.f2785","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":590,"y":600,"wires":[["907c439a.46228","e8247d59.3ce87"],[],[]]},{"id":"e8247d59.3ce87","type":"ui_text","z":"2ea10ffc.f2785","group":"1865bad3.468e45","order":4,"width":0,"height":0,"name":"","label":"Used mem(SSD)","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":640,"wires":[]},{"id":"907c439a.46228","type":"function","z":"2ea10ffc.f2785","name":"Used mem(SSD)","func":"if(msg.topic != \"Used mem(SSD)\") {\n    return\n}\n\nlet siteID = global.get(\"siteID\") || \"Site_IDxxx\"\nlet data = msg.payload.split('/')\n\n//return msg;\n\nvar msg1 = {};\n\n    msg1.payload = [\n    {\n        measurement: \"OS\",\n        fields: {\n            SSD_Used: data[0],//.replace(/\\D/g,'')), //removes non numerical characters\n            SSD_Total: data[1],//.replace(/\\D/g,'')), //removes non numerical characters\n        },\n        tags:{\n            System: \"SSD\",\n        }\n    }];\n    \nvar msg2 = {};\n\nstructureObject();\n\nreturn [[msg1], [msg2]];\n        \nfunction structureObject() {\n\tmsg2.payload = {\n\t\t// You bucket\n\t\t// Optional (it can be defined in the node credentials settings)\n\t\tbucket: 'SESS BS ID001',\n\n\t\t// Precision of timestamp\n\t\t// Optional\n\t\t// Can be `ns` (nanoseconds),\n\t\t//        `us` (microseconds),\n\t\t//        `ms` (milliseconds),\n\t\t//        `s` (seconds).\n\t\t// The default is `ns`\n\t\tprecision: 'ms',\n\n\t\t// Data to send to InfluxDB\n\t\t// Can be an array of objects or only one object\n\t\tdata: [\n\t\t{\n\t\t\tmeasurement: siteID,\n\n\t\t\ttags:{\n\t\t\t\tSystem: \"SSD\"\n\t\t\t},\n\n\t\t\tfields: {\n\t\t\t\tSSD_Used: \"\\\"\" + data[0] + \"\\\"\",\n\t\t\t\tSSD_Total: \"\\\"\" + data[1] + \"\\\"\",\n\t\t\t},\n\n\t\t\ttimestamp: Date.now()\n\t\t},\n\t\t]\n\t};\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":910,"y":600,"wires":[["a2efb661.b64838"],["2b2602f2.dd0b6e"]]},{"id":"b6eeb19d.b677f","type":"file in","z":"49b0e8.21f0af18","name":"","filename":"","format":"","sendError":true,"x":950,"y":40,"wires":[["2998f382.990fac","965bf0ff.6756f"]]},{"id":"9beb137b.57f92","type":"switch","z":"49b0e8.21f0af18","name":"Check user agent","property":"req.headers.user-agent","propertyType":"msg","rules":[{"t":"neq","v":"ESP32-http-Update","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":290,"y":40,"wires":[[],["7a9aad88.7425e4"]]},{"id":"eb38878c.8f2f08","type":"http in","z":"49b0e8.21f0af18","name":"OTA Request","url":"/firmwareUpdate","method":"get","upload":false,"swaggerDoc":"","x":90,"y":40,"wires":[["9beb137b.57f92"]]},{"id":"24154e6.23af2b2","type":"debug","z":"49b0e8.21f0af18","name":"msg.mostRecentFile","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"mostRecentFile","x":1000,"y":260,"wires":[]},{"id":"2998f382.990fac","type":"http response","z":"49b0e8.21f0af18","name":"OTA Response","statusCode":"","headers":{},"x":1120,"y":40,"wires":[]},{"id":"13d86070.efcd8","type":"function","z":"49b0e8.21f0af18","name":"","func":"///// \n\n\n//msg.filename = \"/home/pi/Firmware/PowerProV2.3.2.ino.nodemcu.bin\"\n//return msg\n\n//List of files from RPI Github\nvar firmwares = msg.files;\n//TRUC_VERSION DATA from ESP\nvar version = msg.req.headers;\n//Version Data\nvar currentFile = version[\"x-esp32-version\"];\n//Extract Device Type PowerPro or LightPro\nvar deviceType = currentFile.substring(0,currentFile.indexOf(\"V\")+1)\nmsg.deviceType = deviceType;\n\n//Extracts Github file that matches current ESP version ID\nvar existingFile = firmwares.filter(item=> item.includes(currentFile)).pop();\n//Filters out any incorrect device types ie PowerPro or LightPro\nvar firmwareNames = firmwares.filter(item=> item.includes(msg.deviceType));\n//Sorts out list of files\nvar comparer = new Intl.Collator(undefined, {numeric: true, sensitivity: 'base'});\nfirmwareNames.sort(comparer.compare)[firmwareNames.length-1];\n\nvar mostRecentFile;\n//Pops off most recent file\nmsg.mostRecentFile = firmwareNames.pop();\nmsg.existingFile = existingFile;\n//Compares ESP version to most recent developed file\n//if((msg.existingFile.localeCompare(msg.mostRecentFile)) < 0)\n//{\n    msg.filename = \"/home/pi/Firmware/\" + msg.mostRecentFile;\n// }\n// else\n// {\n//     msg.filename = undefined;\n//     msg.payload = \"No New File Exists\"\n// }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":40,"wires":[["24154e6.23af2b2","aab5f122.4049f","b6eeb19d.b677f"]]},{"id":"aab5f122.4049f","type":"debug","z":"49b0e8.21f0af18","name":"msg.existingFile","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"existingFile","x":980,"y":220,"wires":[]},{"id":"7a9aad88.7425e4","type":"fs-ops-dir","z":"49b0e8.21f0af18","name":"","path":"/home/pi/Firmware","pathType":"str","filter":".bin","filterType":"str","dir":"files","dirType":"msg","x":540,"y":40,"wires":[["13d86070.efcd8"]]},{"id":"67be956f.bb84ec","type":"comment","z":"b30f5484.d6e578","name":"MQTTCloud => MONICON.LOCAL","info":"","x":160,"y":40,"wires":[]},{"id":"d843bd8a.f6d41","type":"mqtt in","z":"b30f5484.d6e578","name":"","topic":"sess/MONICON-PLC/CMD/#","qos":"2","datatype":"auto","broker":"4d64fa3d.ad0334","x":140,"y":260,"wires":[["d5410c81.f1f34"]]},{"id":"4de161e4.ea4c3","type":"function","z":"3711ff2e.e13bf","name":"Prefex(USER)","func":"msg.topic = \"sess/\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":80,"wires":[["10f354a.9671dab"]]},{"id":"d5410c81.f1f34","type":"function","z":"b30f5484.d6e578","name":"System & Device Info","func":"let macAddr = global.get(\"macAddr\") || \"NotSet\";\n\nif (macAddr === \"NotSet\") {\n    return [msg, null];\n} else {\n    return [null, msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":740,"y":260,"wires":[["d7cdc122.a5b47"],["f821458b.e58778"]]},{"id":"b526cc5b.58b3e","type":"mqtt in","z":"b30f5484.d6e578","name":"","topic":"MONICON-PLC/STAT/System/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":150,"y":80,"wires":[["5afa31ef.031e3"]]},{"id":"f3d5ef27.7069d","type":"string","z":"b30f5484.d6e578","name":"Deconcatenate(USER)","methods":[{"name":"getRightMost","params":[{"type":"str","value":"sess/"}]}],"prop":"topic","propout":"topic","object":"msg","objectout":"msg","x":420,"y":200,"wires":[["d5410c81.f1f34"]]},{"id":"d7cdc122.a5b47","type":"exec","z":"b30f5484.d6e578","command":"cat /sys/class/net/eth0/address","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"MAC Addr","x":1010,"y":220,"wires":[["cae0d5de.26f2e8"],["d256dfc6.f8507"],[]]},{"id":"cae0d5de.26f2e8","type":"function","z":"b30f5484.d6e578","name":"Set macAddr","func":"var macAddr = msg.payload.replace(/\\W/g,\"\");\nglobal.set(\"macAddr\", macAddr);\n\nlet siteID = global.get(\"siteID\") || \"SiteIDxxx\";\n\nvar data = macAddr + \",\" + siteID + \",\" + msg.payload + \",\";\n\nmsg.payload = data;\nmsg.topic = \"sess/\" + msg.topic;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1250,"y":220,"wires":[["f821458b.e58778"]]},{"id":"6735bef4.ca139","type":"comment","z":"b30f5484.d6e578","name":"Set MacAddress if NOT already Set","info":"","x":1080,"y":160,"wires":[]},{"id":"5afa31ef.031e3","type":"function","z":"b30f5484.d6e578","name":"System Data","func":"let siteID = global.get(\"siteID\") || \"SiteIDxxx\";\nlet macAddr = global.get(\"macAddr\") || \"NotSet\";\nlet serverVersion = global.get(\"serverVersion\") || \"MONICON-PLC_ServerV0.0.0\"\n\nvar data = macAddr + \",\" + siteID + \",\" + msg.payload;\n\nmsg.payload = data + \",\" + serverVersion;\nmsg.topic = \"sess/\" + msg.topic;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":80,"wires":[["5e80962e.bfac88"]]},{"id":"f821458b.e58778","type":"mqtt out","z":"b30f5484.d6e578","name":"MQTT Local","topic":"","qos":"","retain":"","broker":"7dc9807f.d7441","x":1430,"y":280,"wires":[]},{"id":"8841d855.adb8e8","type":"function","z":"f10266af.85d1d8","name":"Check Server Address","func":"let serialID = msg.topic.substring(msg.topic.lastIndexOf('/') + 1, msg.topic.length)\nlet macAddr = global.get(\"macAddr\") || 1;\nif(serialID != macAddr) {\n    return\n} else {\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":420,"wires":[["c4d65a8.75e26a8","120febd7.9540a4"]]},{"id":"7cac4f0.4cf77b","type":"influxdb in","z":"b30f5484.d6e578","influxdb":"4da4ea34.630684","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":850,"y":520,"wires":[["99ce802c.f1e82"]]},{"id":"99ce802c.f1e82","type":"function","z":"b30f5484.d6e578","name":"\\n\\r Filter","func":"var data = String(msg.payload[0].last);\ndata = data.replace(/[\\n\\r]+/g, '');\nlet macAddr = global.get(\"macAddr\") || \"nSet\";\nmsg.topic = \"sess/MONICON-PLC/STAT/Query/\" + macAddr;\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":520,"wires":[["eb1a5ba0.b0a288"]]},{"id":"a2991879.978e18","type":"function","z":"b30f5484.d6e578","name":"Add to Query","func":"let serialID = msg.topic.substring(msg.topic.lastIndexOf('/') + 1, msg.topic.length)\nlet macAddr = global.get(\"macAddr\") || 1;\nif(serialID != macAddr) {\n    return\n}\nlet query = msg.payload;\nlet msg1 = {query:  String(query) };\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":520,"wires":[["cc1de90b.70fe68","2f3e19f.876e0e6"]]},{"id":"eb1a5ba0.b0a288","type":"join","z":"b30f5484.d6e578","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1210,"y":520,"wires":[["5736c607.567d48"]]},{"id":"cc1de90b.70fe68","type":"delay","z":"b30f5484.d6e578","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":520,"wires":[["7cac4f0.4cf77b"]]},{"id":"7bf58aba.6861b4","type":"comment","z":"b30f5484.d6e578","name":"Remote System Status Query","info":"","x":140,"y":480,"wires":[]},{"id":"f2d4ba8a.8630e8","type":"function","z":"b30f5484.d6e578","name":"Set Site ID","func":"let serialID = msg.topic.substring(msg.topic.lastIndexOf('/') + 1, msg.topic.length)\nlet macAddr = global.get(\"macAddr\") || 1;\nif(serialID != macAddr) {\n    return\n}\n\nlet siteID = msg.payload;\nglobal.set(\"siteID\", siteID);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":680,"wires":[["44f297d6.f55da8"]]},{"id":"2463ad5b.614fd2","type":"comment","z":"b30f5484.d6e578","name":"Remote Set Site ID","info":"","x":110,"y":640,"wires":[]},{"id":"82daf2a9.58416","type":"comment","z":"b30f5484.d6e578","name":"Remote Set Equipment ID","info":"","x":130,"y":800,"wires":[]},{"id":"2156e9d3.a46e46","type":"string","z":"b30f5484.d6e578","name":"Deconcatenate(USER)","methods":[{"name":"getRightMost","params":[{"type":"str","value":"sess/"}]}],"prop":"topic","propout":"topic","object":"msg","objectout":"msg","x":700,"y":840,"wires":[["dc3d4eaf.3957f","cda23245.3d8df"]]},{"id":"cda23245.3d8df","type":"mqtt out","z":"b30f5484.d6e578","name":"MQTT Local","topic":"","qos":"","retain":"","broker":"7dc9807f.d7441","x":950,"y":920,"wires":[]},{"id":"be68a6a5.79ae48","type":"string","z":"b30f5484.d6e578","name":"Deconcatenate(USER)","methods":[{"name":"getRightMost","params":[{"type":"str","value":"sess/"}]}],"prop":"topic","propout":"topic","object":"msg","objectout":"msg","x":700,"y":1000,"wires":[["cda23245.3d8df","46890c07.a76c24"]]},{"id":"64c6602e.b4d3a","type":"exec","z":"b30f5484.d6e578","command":"sudo rm /home/pi/Firmware -r","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Delete Firmware Dir","x":900,"y":1180,"wires":[["adc450ef.2832","b37be07b.789e1"],["ce713418.52f698"],[]]},{"id":"adc450ef.2832","type":"exec","z":"b30f5484.d6e578","command":" sudo git clone https://github.com/jimmy232/Firmware.git","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Download github bin files","x":1210,"y":1180,"wires":[["d16123e4.295ff"],["3e78ea0c.b3b566"],[]]},{"id":"b7f632fe.30d6f","type":"mqtt in","z":"b30f5484.d6e578","name":"","topic":"MONICON-PLC/CMD/DownloadUploadFirmware/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":210,"y":1180,"wires":[["86843d39.e61ff"]]},{"id":"86843d39.e61ff","type":"function","z":"b30f5484.d6e578","name":"Alt Topic","func":"var data = msg.topic\ndata = data.replace(\"DownloadUploadFirmware\", \"UploadFirmware\");\nmsg.topic = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":1180,"wires":[["64c6602e.b4d3a","f6843431.75d428"]]},{"id":"8dd8b379.c76f9","type":"comment","z":"b30f5484.d6e578","name":"Download new ESP32 Firmware and Upload to Device on request","info":"","x":250,"y":1140,"wires":[]},{"id":"66f818db.e22e08","type":"comment","z":"b30f5484.d6e578","name":"Download new ESP32 Firmware and Upload to Device on request","info":"","x":250,"y":960,"wires":[]},{"id":"934120f1.30bc9","type":"function","z":"b30f5484.d6e578","name":"Set Timer Enable","func":"let serialID = msg.topic.substring(msg.topic.lastIndexOf('/') + 1, msg.topic.length)\nlet macAddr = global.get(\"macAddr\") || 1;\nif(serialID != macAddr) {\n    return\n}\n\nvar AnalogTimer = global.get(\"AnalogTimer\") || \"0\";\nif(msg.payload == \"0\")\n{\n    global.set(\"AnalogTimer\", \"0\");\n    AnalogTimer = \"0\";\n    msg.payload = \"Analog Timer Inactive\";\n} else {\n    global.set(\"AnalogTimer\", \"1\");\n    AnalogTimer = \"1\";\n    msg.payload = \"Analog Timer Active\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":1380,"wires":[["8944204a.16c6d"]]},{"id":"a913fff.46691","type":"function","z":"acc8696e.dd6ae8","name":"Check MQTT Timer Enable","func":"var AnalogTimer = global.get(\"AnalogTimer\") || \"0\";\nif(AnalogTimer == \"1\")\n{\nmsg.topic = msg.topic.replace(\"Device\", \"STAT\");\n    msg.topic = \"sess/\" + msg.topic;\n    return msg;\n} else {\n    return;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":120,"wires":[["d8734eca.70bd7"]]},{"id":"ecbf8eea.f2fa8","type":"function","z":"b30f5484.d6e578","name":"Global Overide Timer Off","func":"var AnalogTimer = global.get(\"AnalogTimer\") || \"0\";\nif(msg.payload == \"0\")\n{\n    global.set(\"AnalogTimer\", \"0\");\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":1420,"wires":[[]]},{"id":"1d611df7.825e72","type":"mqtt in","z":"acc8696e.dd6ae8","name":"","topic":"MONICON-PLC/STAT/Scale_Single_PT100/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":300,"wires":[["ef751e68.d2876"]]},{"id":"39797792.15bf48","type":"mqtt in","z":"acc8696e.dd6ae8","name":"","topic":"MONICON-PLC/STAT/Scale_Single_4n20/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":380,"wires":[["ef751e68.d2876"]]},{"id":"c368c51.51b1d38","type":"comment","z":"acc8696e.dd6ae8","name":"Scale Parameters","info":"","x":110,"y":260,"wires":[]},{"id":"d72301c5.029e4","type":"comment","z":"acc8696e.dd6ae8","name":"Analog Input Values","info":"","x":110,"y":40,"wires":[]},{"id":"ef751e68.d2876","type":"function","z":"acc8696e.dd6ae8","name":"Prefex(USER)","func":"msg.topic = \"sess/\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":340,"wires":[["d8734eca.70bd7"]]},{"id":"e90951a2.d59ae","type":"function","z":"b30f5484.d6e578","name":"Set Timer Enable","func":"let serialID = msg.topic.substring(msg.topic.lastIndexOf('/') + 1, msg.topic.length)\nlet macAddr = global.get(\"macAddr\") || 1;\nif(serialID != macAddr) {\n    return\n}\n\nvar AlarmTimer = global.get(\"AlarmTimer\") || \"0\";\nif(msg.payload == \"0\")\n{\n    global.set(\"AlarmTimer\", \"0\");\n    AlarmTimer = \"0\";\n    msg.payload = \"Alarm Timer Inactive\";\n} else {\n    global.set(\"AlarmTimer\", \"1\");\n    AlarmTimer = \"1\";\n    msg.payload = \"Alarm Timer Active\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":1520,"wires":[["e966e439.3f7e68"]]},{"id":"96b4f921.fab6d8","type":"function","z":"b30f5484.d6e578","name":"Global Overide Timer Off","func":"var AnalogTimer = global.get(\"AlarmTimer\") || \"0\";\nif(msg.payload == \"0\")\n{\n    global.set(\"AlarmTimer\", \"0\");\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":1560,"wires":[[]]},{"id":"a051b1c0.37fbd","type":"function","z":"2c9c8225.aca0fe","name":"Check MQTT Timer Enable","func":"var AlarmTimer = global.get(\"AlarmTimer\") || \"0\";\nif(AlarmTimer == \"1\")\n{\nmsg.topic = msg.topic.replace(\"Device\", \"STAT\");\n    msg.topic = \"sess/\" + msg.topic;\n    return msg;\n} else {\n    return;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":140,"wires":[["7db7e9f6.0e72d8"]]},{"id":"c5fa07e6.78ae38","type":"mqtt in","z":"2c9c8225.aca0fe","name":"","topic":"MONICON-PLC/STAT/Alarm_En_4n20/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":180,"y":520,"wires":[["5fd2aba.0b33354"]]},{"id":"9c8f99f2.abaaf8","type":"mqtt in","z":"2c9c8225.aca0fe","name":"","topic":"MONICON-PLC/STAT/Alarm_En_PT100/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":180,"y":600,"wires":[["5fd2aba.0b33354"]]},{"id":"5fd2aba.0b33354","type":"function","z":"2c9c8225.aca0fe","name":"Prefex(USER)","func":"msg.topic = \"sess/\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":560,"wires":[["7db7e9f6.0e72d8"]]},{"id":"1fbfa30e.7afa4d","type":"comment","z":"b30f5484.d6e578","name":"Define Email Parameters","info":"","x":130,"y":1620,"wires":[]},{"id":"406210b5.00c63","type":"function","z":"b30f5484.d6e578","name":"Email Parameters","func":"let serialID = msg.topic.substring(msg.topic.lastIndexOf('/') + 1, msg.topic.length)\nlet macAddr = global.get(\"macAddr\") || 1;\nif(serialID != macAddr) {\n    return\n}\n\nlet parameters = msg.payload.split('+');\n\nif (parameters[5] == \"1\") // PT100 Configuration Parameters\n{\n    global.set(\"subjectMSg_PT100\", parameters[0]);            //String\n    global.set(\"bodyMSg_PT100\", parameters[1]);               //String\n    global.set(\"addrTo_PT100\", parameters[2]);                //String\n    global.set(\"addrCc_PT100\", parameters[3]);                //Strng\n    global.set(\"addrBcc_PT100\", parameters[4]);               //String\n    global.set(\"subjectParameters_PT100\", parameters[6]);     //String of bools\n    global.set(\"bodyParameters_PT100\", parameters[7]);        //String of bools\n} else {\n    global.set(\"subjectMSg_4n20\", parameters[0]);            //String\n    global.set(\"bodyMSg_4n20\", parameters[1]);               //String\n    global.set(\"addrTo_4n20\", parameters[2]);                //String\n    global.set(\"addrCc_4n20\", parameters[3]);                //Strng\n    global.set(\"addrBcc_4n20\", parameters[4]);               //String\n    global.set(\"subjectParameters_4n20\", parameters[6]);     //String of bools\n    global.set(\"bodyParameters_4n20\", parameters[7]);        //String of bools    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":1660,"wires":[["78699ff9.03241"]]},{"id":"faebc74a.71ca48","type":"function","z":"627ef3c4.f2321c","name":"Email Setup - 4..20mA Alarms","func":"/*\ndata[0] = PIN_ID\ndata[1] = Alarm Status\ndata[2] = PV\ndata[3] = Threshold Parameter\ndata[4] = Equipment ID\ndata[5] = Software Version\n\ntopic[0] = PLC_ID\ntopic[1] = CMD\ntopic[2] = Subject\ntopic[3] = Serial_ID\n*/\nlet siteID = global.get(\"siteID\") || \"Site_IDxxx\"\n\nlet subjectMSg_4n20 = global.get(\"subjectMSg_4n20\") || \"null\";                    //String\nlet bodyMSg_4n20 = global.get(\"bodyMSg_4n20\") || \"null\";                          //String\nlet addrTo_4n20 = global.get(\"addrTo_4n20\") || \"monicon.sess@gmail.com\";                            //String\nlet addrCc_4n20 = global.get(\"addrCc_4n20\") || \"\";                            //Strng\nlet addrBcc_4n20 = global.get(\"addrBcc_4n20\") || \"\";                          //String\nlet subjectParameters_4n20 = global.get(\"subjectParameters_4n20\") || \"null\";      //String of bools\nlet bodyParameters_4n20 = global.get(\"bodyParameters_4n20\") || \"null\";            //String of bools\n\n// Data splitting\nvar data = msg.payload.split(',')\nvar topic = msg.topic.split('/')\nlet subPara = subjectParameters_4n20.split('=');\nlet bodyPara = bodyParameters_4n20.split('=');\n\n// Subject Concatenation\nvar subject = subjectMSg_4n20;\nsubject += subPara[5] == \"1\" ? \" | Sensor Type - 4n20 Alm\" : \"\";\nsubject += subPara[4] == \"1\" ? \" | Alarm Status - \" + data[1] : \"\";\nsubject += subPara[1] == \"1\" ? \" | Analog No. - \" + data[0] : \"\";\nsubject += subPara[2] == \"1\" ? \" | Site ID - \" + siteID : \"\";\nsubject += subPara[3] == \"1\" ? \" | Equipment ID - \" + data[4] : \"\";\nsubject += subPara[0] == \"1\" ? \" | Date & Time - \" + Date().toString() : \"\";\n\n// Subject Concatenation\nvar body = bodyMSg_4n20 + \"\\n\";\nbody += bodyPara[0] == \"1\" ? \"\\nDate & Time -\\t \" + Date().toString() : \"\";\nbody += bodyPara[5] == \"1\" ? \"\\nSensor Type -\\t 4n20 Alm\" : \"\";\nbody += bodyPara[4] == \"1\" ? \"\\nAlarm Status -\\t \" + data[1] : \"\";\nbody += bodyPara[1] == \"1\" ? \"\\nAnalog No. -\\t \" + data[0] : \"\";\nbody += bodyPara[2] == \"1\" ? \"\\nSite ID -\\t \" + siteID : \"\";\nbody += bodyPara[3] == \"1\" ? \"\\nEquipment ID -\\t \" + data[4] : \"\";\nbody += bodyPara[9] == \"1\" ? \"\\nProcess Value -\\t \" + data[2] : \"\";\nbody += bodyPara[6] == \"1\" ? \"\\nThreshold Parameter -\\t \" + data[3] : \"\";\nbody += bodyPara[7] == \"1\" ? \"\\nSerial No. -\\t \" + topic[3] : \"\";\nbody += bodyPara[8] == \"1\" ? \"\\nSoftware Version -\\t \" + data[5] : \"\";\n\n// New Email Message\nmsg = {\n    payload: body,\n    topic: subject,\n    to: addrTo_4n20,\n    cc: addrCc_4n20,\n    bcc: addrBcc_4n20\n}\n\n// Old Email Message\n// msg = {\n//     payload : \"PT100 Alarm has been triggered.\\n\" +\n//     \"Equipment ID[\" + data[4] + \"]\\n\" + \n//     \"PT100 Sensor - AI[\" + data[0] + \"]\\n\" +\n//     \"Alarm Status[\" + data[1] +\"]\\n\" +\n//     \"Timestamp[\" + Date().toString() + \"]\" + \n//     \"Site_BS001\\n\" +\n//     \"AI Process Value[\" + data[2] + \"]\\n\" +\n//     \"Threshold Parameter[\" + data[3] + \"]\\n\" + \n//     \"Equipment ID[\" + data[4] + \"]\\n\\n\" +\n//     \"PLC_Model[\" + topic[0] + \"]\\n\" + \n//     \"Command Header[\" + topic[1] + \"]\\n\" +\n//     \"Command Subject[\" + topic[2] + \"]\\n\" +\n//     \"Device Serial No.[\" + topic[3] + \"]\\n\\n\" , // Body\n//     topic : \"Alarm Notification | PT100 Sensor - AI[\" + data[0] + \"] | Status[\" + data[1] +\"] | \" + \"Timestamp[\" + Date().toString() + \"]\", //Subject\n//     to : \"monicon.sess@gmail.com\",\n//     bcc : \"monicon.sys@gmail.com\"\n// };\n\nreturn msg;\n\n// let parameters = msg.payload.split('+');\n\n// if (parameters[5] == \"1\") // PT100 Configuration Parameters\n// {\n//     global.set(\"subjectMSg_PT100\", parameters[0]);            //String\n//     global.set(\"bodyMSg_PT100\", parameters[1]);               //String\n//     global.set(\"addrTo_PT100\", parameters[2]);                //String\n//     global.set(\"addrCc_PT100\", parameters[3]);                //Strng\n//     global.set(\"addrBcc_PT100\", parameters[4]);               //String\n//     global.set(\"subjectParameters_PT100\", parameters[6]);     //String of bools\n//     global.set(\"bodyParameters_PT100\", parameters[7]);        //String of bools\n// } else {\n//     global.set(\"subjectMSg_4n20\", parameters[0]);            //String\n//     global.set(\"bodyMSg_4n20\", parameters[1]);               //String\n//     global.set(\"addrTo_4n20\", parameters[2]);                //String\n//     global.set(\"addrCc_4n20\", parameters[3]);                //Strng\n//     global.set(\"addrBcc_4n20\", parameters[4]);               //String\n//     global.set(\"subjectParameters_4n20\", parameters[6]);     //String of bools\n//     global.set(\"bodyParameters_4n20\", parameters[7]);        //String of bools    \n// }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":240,"wires":[["eb43c9eb.e75de8"]]},{"id":"93c09c52.fe6d","type":"mqtt in","z":"b30f5484.d6e578","name":"","topic":"sess/MONICON-PLC/CMD/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":140,"y":200,"wires":[["f3d5ef27.7069d"]]},{"id":"a2231b96.6ec558","type":"mqtt in","z":"b30f5484.d6e578","name":"","topic":"sess/MONICON-PLC/CMD/Query/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":160,"y":520,"wires":[["a2991879.978e18"]]},{"id":"ca6519f7.42a8b8","type":"mqtt in","z":"b30f5484.d6e578","name":"","topic":"sess/MONICON-PLC/CMD/SiteID/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":160,"y":680,"wires":[["f2d4ba8a.8630e8"]]},{"id":"b63afbbd.436098","type":"mqtt in","z":"b30f5484.d6e578","name":"","topic":"sess/MONICON-PLC/CMD/UpdateEquipID/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":840,"wires":[["2156e9d3.a46e46"]]},{"id":"428c9a7e.63ffc4","type":"mqtt in","z":"b30f5484.d6e578","name":"","topic":"sess/MONICON-PLC/CMD/UploadFirmware/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":1000,"wires":[["be68a6a5.79ae48"]]},{"id":"34006182.38f3ae","type":"comment","z":"b30f5484.d6e578","name":"Enable Analog Timer to Stream values to Broker","info":"","x":200,"y":1360,"wires":[]},{"id":"dfdf9d52.c6dc2","type":"mqtt in","z":"b30f5484.d6e578","name":"","topic":"sess/MONICON-PLC/CMD/AnalogTimer/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":180,"y":1380,"wires":[["934120f1.30bc9","ecbf8eea.f2fa8"]]},{"id":"33641fb2.43c95","type":"comment","z":"b30f5484.d6e578","name":"Enable Alarm Timer to Stream values to Broker","info":"","x":200,"y":1480,"wires":[]},{"id":"bf4d90a8.2d7a9","type":"mqtt in","z":"b30f5484.d6e578","name":"","topic":"sess/MONICON-PLC/CMD/AlarmTimer/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":180,"y":1520,"wires":[["e90951a2.d59ae","96b4f921.fab6d8"]]},{"id":"f2cbc2fd.d14be","type":"mqtt in","z":"b30f5484.d6e578","name":"","topic":"sess/MONICON-PLC/CMD/EmailDefinition/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":1660,"wires":[["406210b5.00c63"]]},{"id":"663e8a58.0bbf54","type":"comment","z":"b30f5484.d6e578","name":"Search Email Parameters","info":"","x":130,"y":1720,"wires":[]},{"id":"f366d4cf.344528","type":"mqtt in","z":"b30f5484.d6e578","name":"","topic":"sess/MONICON-PLC/CMD/EmailSearch/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":180,"y":1760,"wires":[["b7722444.9cee68"]]},{"id":"b7722444.9cee68","type":"function","z":"b30f5484.d6e578","name":"Email Parameters Template","func":"let serialID = msg.topic.substring(msg.topic.lastIndexOf('/') + 1, msg.topic.length)\nlet macAddr = global.get(\"macAddr\") || 1;\nif(serialID != macAddr) {\n    return\n}\n\nmsg.topic = msg.topic.replace(\"CMD\", \"STAT\");\n\nlet message = \"\";\n\nif (msg.payload == \"PT100SensorType\") // PT100 Configuration Parameters\n{\n    message = global.get(\"subjectMSg_PT100\");            //String\n    message += \",\";\n    message += global.get(\"bodyMSg_PT100\");               //String\n    message += \",\";\n    message += global.get(\"addrTo_PT100\");                //String\n    message += \",\";\n    message += global.get(\"addrCc_PT100\");                //Strng\n    message += \",\";\n    message += global.get(\"addrBcc_PT100\");               //String\n    message += \",\";\n    message += global.get(\"subjectParameters_PT100\");     //String of bools\n    message += \",\";\n    message += global.get(\"bodyParameters_PT100\");        //String of bools\n} else {\n    message = global.get(\"subjectMSg_4n20\");            //String\n    message += \",\";\n    message += global.get(\"bodyMSg_4n20\");               //String\n    message += \",\";\n    message += global.get(\"addrTo_4n20\");                //String\n    message += \",\";\n    message += global.get(\"addrCc_4n20\");                //Strng\n    message += \",\";\n    message += global.get(\"addrBcc_4n20\");               //String\n    message += \",\";\n    message += global.get(\"subjectParameters_4n20\");     //String of bools\n    message += \",\";\n    message += global.get(\"bodyParameters_4n20\");        //String of bools    \n}\nmsg.payload = message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":1760,"wires":[["d16123e4.295ff"]]},{"id":"ebd65b5f.993d88","type":"rpi-gpio out","z":"f10266af.85d1d8","name":"ESP32 (GPIO-05) Reset","pin":"29","set":true,"level":"0","freq":"","out":"out","x":1110,"y":540,"wires":[]},{"id":"ee98ff64.8ac32","type":"trigger","z":"f10266af.85d1d8","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":800,"y":540,"wires":[["ebd65b5f.993d88","e25579c6.4f04d8"]]},{"id":"b3b2f76e.44f098","type":"mqtt in","z":"f10266af.85d1d8","name":"","topic":"sess/MONICON-PLC/CMD/Reboot/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":160,"y":420,"wires":[["8841d855.adb8e8"]]},{"id":"92cbaba0.304ea8","type":"comment","z":"f10266af.85d1d8","name":"System Reboot Counter","info":"","x":120,"y":140,"wires":[]},{"id":"9ad87f77.a78db","type":"comment","z":"f10266af.85d1d8","name":"Remote Reboot CMD - Esp32 Physical Reboot","info":"","x":200,"y":500,"wires":[]},{"id":"7e0050ec.a9","type":"comment","z":"f10266af.85d1d8","name":"System Reboot every 12hrs","info":"","x":140,"y":260,"wires":[]},{"id":"9c459ef1.9f409","type":"comment","z":"f10266af.85d1d8","name":"Remote Reboot","info":"","x":100,"y":380,"wires":[]},{"id":"27689c1.63f7264","type":"mqtt in","z":"f10266af.85d1d8","name":"","topic":"sess/MONICON-PLC/CMD/RebootEsp/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":180,"y":540,"wires":[["fb2ab6ca.38b308"]]},{"id":"fb2ab6ca.38b308","type":"function","z":"f10266af.85d1d8","name":"Check Server macAddr","func":"let serialID = msg.topic.substring(msg.topic.lastIndexOf('/') + 1, msg.topic.length)\nlet macAddr = global.get(\"macAddr\") || 1;\nif(serialID != macAddr) {\n    return\n}\n\nmsg.topic = \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\nmsg.payload = \"Local Esp32 Physical Reboot was Successful.\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":540,"wires":[["ee98ff64.8ac32"]]},{"id":"120febd7.9540a4","type":"function","z":"f10266af.85d1d8","name":"Return Message","func":"let serialID = msg.topic.substring(msg.topic.lastIndexOf('/') + 1, msg.topic.length)\nlet macAddr = global.get(\"macAddr\") || 1;\nif(serialID != macAddr) {\n    return\n}\n\n\nmsg.topic = \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\nmsg.payload = \"Server Reboot was Successful.\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":420,"wires":[["5f02f1d6.fa7dd"]]},{"id":"965bf0ff.6756f","type":"function","z":"49b0e8.21f0af18","name":"RTM","func":"let macAddr = global.get(\"macAddr\")\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\nmsg.payload = \"Uploading Outstation with new File: <\" + msg.filename + \">\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":120,"wires":[["567b125b.fc627c"]]},{"id":"78699ff9.03241","type":"function","z":"b30f5484.d6e578","name":"RTM","func":"let macAddr = global.get(\"macAddr\");\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\nmsg.payload = \"Email template loaded successfully\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":1660,"wires":[["d16123e4.295ff"]]},{"id":"f6843431.75d428","type":"function","z":"b30f5484.d6e578","name":"RTM","func":"let macAddr = global.get(\"macAddr\");\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\nmsg.payload = \"Clearing Server File Directory...\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":1320,"wires":[["d16123e4.295ff"]]},{"id":"b37be07b.789e1","type":"function","z":"b30f5484.d6e578","name":"RTM","func":"let macAddr = global.get(\"macAddr\");\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\nmsg.payload = \"Downloading new Firmware...\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":1240,"wires":[["d16123e4.295ff"]]},{"id":"46890c07.a76c24","type":"function","z":"b30f5484.d6e578","name":"RTM","func":"let macAddr = global.get(\"macAddr\");\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\nmsg.payload = \"Uploading new Firmware...\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":1000,"wires":[["dcd44090.8e5a7"]]},{"id":"e966e439.3f7e68","type":"function","z":"b30f5484.d6e578","name":"RTM","func":"let macAddr = global.get(\"macAddr\") || \"\";\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":1520,"wires":[["d16123e4.295ff"]]},{"id":"44f297d6.f55da8","type":"function","z":"b30f5484.d6e578","name":"RTM","func":"let macAddr = global.get(\"macAddr\");\nlet siteID = global.get(\"siteID\", siteID);\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\nmsg.payload = \"SiteID updated <\" + siteID + \">\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":680,"wires":[["5736c607.567d48"]]},{"id":"8944204a.16c6d","type":"function","z":"b30f5484.d6e578","name":"RTM","func":"let macAddr = global.get(\"macAddr\") || \"\";\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":1380,"wires":[["d16123e4.295ff"]]},{"id":"2f3e19f.876e0e6","type":"function","z":"b30f5484.d6e578","name":"RTM","func":"let macAddr = global.get(\"macAddr\")\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\nmsg.payload = \"Query on Local Database Executed Successfully\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":580,"wires":[["5736c607.567d48"]]},{"id":"dc3d4eaf.3957f","type":"function","z":"b30f5484.d6e578","name":"RTM","func":"let macAddr = global.get(\"macAddr\")\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\nmsg.payload = \"New Equipment ID has been issued to Outstation.\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":840,"wires":[["dcd44090.8e5a7"]]},{"id":"17614b94.47b694","type":"mqtt out","z":"b30f5484.d6e578","name":"MQTT Local","topic":"","qos":"","retain":"","broker":"7dc9807f.d7441","x":330,"y":2280,"wires":[]},{"id":"651ced5d.1bfea4","type":"mqtt out","z":"b30f5484.d6e578","name":"MQTT Cloud","topic":"","qos":"","retain":"","broker":"4d64fa3d.ad0334","x":330,"y":2340,"wires":[]},{"id":"4580be70.b4c24","type":"link in","z":"b30f5484.d6e578","name":"MQTT Local | Remote","links":["d16123e4.295ff","dcd44090.8e5a7","5736c607.567d48","567b125b.fc627c","a8ab7067.f4a9a","e25579c6.4f04d8","5f02f1d6.fa7dd","d8734eca.70bd7","7db7e9f6.0e72d8","10f354a.9671dab","2acb4794.64d508","ef43d9d4.15c658","e0b3d285.d02f2","6cd53687.8d7c78","5e80962e.bfac88","c1fd798e.f57698","3f7d52b9.55ec2e","7e4e9e4d.554ff","6b59d51c.a10b8c","eea73818.e97218","1a8e78f8.5064e7","b7fba335.742e8"],"x":195,"y":2300,"wires":[["651ced5d.1bfea4","17614b94.47b694"]]},{"id":"d16123e4.295ff","type":"link out","z":"b30f5484.d6e578","name":"","links":["4580be70.b4c24"],"x":1575,"y":1400,"wires":[]},{"id":"dcd44090.8e5a7","type":"link out","z":"b30f5484.d6e578","name":"","links":["4580be70.b4c24"],"x":1415,"y":920,"wires":[]},{"id":"5736c607.567d48","type":"link out","z":"b30f5484.d6e578","name":"","links":["4580be70.b4c24"],"x":1395,"y":520,"wires":[]},{"id":"567b125b.fc627c","type":"link out","z":"49b0e8.21f0af18","name":"","links":["4580be70.b4c24"],"x":1175,"y":120,"wires":[]},{"id":"e25579c6.4f04d8","type":"link out","z":"f10266af.85d1d8","name":"","links":["4580be70.b4c24"],"x":1015,"y":600,"wires":[]},{"id":"5f02f1d6.fa7dd","type":"link out","z":"f10266af.85d1d8","name":"","links":["4580be70.b4c24"],"x":1255,"y":420,"wires":[]},{"id":"d8734eca.70bd7","type":"link out","z":"acc8696e.dd6ae8","name":"","links":["4580be70.b4c24"],"x":835,"y":240,"wires":[]},{"id":"7db7e9f6.0e72d8","type":"link out","z":"2c9c8225.aca0fe","name":"","links":["4580be70.b4c24"],"x":935,"y":420,"wires":[]},{"id":"10f354a.9671dab","type":"link out","z":"3711ff2e.e13bf","name":"","links":["4580be70.b4c24"],"x":655,"y":80,"wires":[]},{"id":"ab0a29af.ba8c68","type":"link in","z":"2ea10ffc.f2785","name":"","links":["e732f49a.8847a8"],"x":135,"y":360,"wires":[["ea955b80.725618","acfc7a74.e46ad8","63cc99ae.287bf8","c912fd0c.c5ba6","10519268.9bf88e","e3a9c659.4eda98","ffa8760a.d9dc98","c3d5fbce.3b6318","f0058683.db3368"]]},{"id":"e732f49a.8847a8","type":"link out","z":"2ea10ffc.f2785","name":"30SecCycle","links":["ab0a29af.ba8c68"],"x":615,"y":80,"wires":[]},{"id":"976317b7.207628","type":"link out","z":"2ea10ffc.f2785","name":"","links":["99efd2a3.7113"],"x":1115,"y":80,"wires":[]},{"id":"5f09205f.52edd","type":"influxdb batch","z":"b2cf18f9.40fb08","influxdb":"4da4ea34.630684","precision":"","retentionPolicy":"","name":"","x":1010,"y":820,"wires":[]},{"id":"99efd2a3.7113","type":"link in","z":"b2cf18f9.40fb08","name":"Local InfluxDB","links":["976317b7.207628","d2a26bd4.5d2418","a2efb661.b64838"],"x":35,"y":820,"wires":[["5f09205f.52edd"]]},{"id":"22f53bc9.045f84","type":"comment","z":"b2cf18f9.40fb08","name":"Local InfluxDb Link","info":"","x":110,"y":780,"wires":[]},{"id":"2d34832d.2f3afc","type":"Stackhero-InfluxDB-v2-write","z":"b2cf18f9.40fb08","server":"da535876.280af8","name":"SESS","x":930,"y":900,"wires":[[]]},{"id":"96dff132.a5bc8","type":"link in","z":"b2cf18f9.40fb08","name":"Remote FluxDB","links":["40e10f5d.93445","f0cd8501.0ff3e8","2b2602f2.dd0b6e"],"x":35,"y":900,"wires":[["2d34832d.2f3afc"]]},{"id":"78549b88.0713f4","type":"comment","z":"b2cf18f9.40fb08","name":"Remote FluxDb Link","info":"","x":110,"y":860,"wires":[]},{"id":"40e10f5d.93445","type":"link out","z":"2ea10ffc.f2785","name":"","links":["96dff132.a5bc8"],"x":1115,"y":160,"wires":[]},{"id":"d2a26bd4.5d2418","type":"link out","z":"2ea10ffc.f2785","name":"","links":["99efd2a3.7113"],"x":1115,"y":240,"wires":[]},{"id":"a2efb661.b64838","type":"link out","z":"2ea10ffc.f2785","name":"","links":["99efd2a3.7113"],"x":1115,"y":440,"wires":[]},{"id":"f0cd8501.0ff3e8","type":"link out","z":"2ea10ffc.f2785","name":"","links":["96dff132.a5bc8"],"x":1115,"y":360,"wires":[]},{"id":"2b2602f2.dd0b6e","type":"link out","z":"2ea10ffc.f2785","name":"","links":["96dff132.a5bc8"],"x":1115,"y":600,"wires":[]},{"id":"76f7d15a.c17ed","type":"debug","z":"2ea10ffc.f2785","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":760,"wires":[]},{"id":"bc19b3c3.d4838","type":"function","z":"2ea10ffc.f2785","name":"System & Device Info","func":"let macAddr = global.get(\"macAddr\") || \"NotSet\";\n\nif (macAddr === \"NotSet\") {\n    return [msg, null];\n} else {\n    return [null, msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":460,"y":760,"wires":[["c7dab41a.a18cf8"],["76f7d15a.c17ed"]]},{"id":"c7dab41a.a18cf8","type":"exec","z":"2ea10ffc.f2785","command":"cat /sys/class/net/eth0/address","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"MAC Addr","x":690,"y":720,"wires":[["ae7513ab.bdde3"],[],[]]},{"id":"ae7513ab.bdde3","type":"function","z":"2ea10ffc.f2785","name":"Set macAddr","func":"var macAddr = msg.payload.replace(/\\W/g,\"\");\nglobal.set(\"macAddr\", macAddr);\n\nmsg.payload = macAddr;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":720,"wires":[["76f7d15a.c17ed"]]},{"id":"63167816.10c038","type":"function","z":"2ea10ffc.f2785","name":"Developer macAddr Block","func":"let macAddr = global.get(\"macAddr\") || \"nSet\";\nif(macAddr == \"b827ebf15f4e\" || macAddr == \"b827eba5dff3\") {\n    return\n} \nelse if (macAddr == \"nSet\") {\n    return [[msg], [null]];\n} else {\n    return [[null], [msg]];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":350,"y":40,"wires":[["fc890f9d.f5ce2"],["e732f49a.8847a8"]]},{"id":"51664538.b92a0c","type":"comment","z":"2ea10ffc.f2785","name":"Get local macaddr","info":"","x":130,"y":720,"wires":[]},{"id":"fc890f9d.f5ce2","type":"link out","z":"2ea10ffc.f2785","name":"Get macAddr if Not Defined","links":["11c74579.3eeadb"],"x":615,"y":40,"wires":[]},{"id":"11c74579.3eeadb","type":"link in","z":"2ea10ffc.f2785","name":"","links":["fc890f9d.f5ce2"],"x":75,"y":760,"wires":[["bc19b3c3.d4838"]]},{"id":"4ed37d4.4129e84","type":"inject","z":"f10266af.85d1d8","name":"MONICON-PLC_ServerV0.0.19","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"MONICON-PLC_ServerV0.0.19","payloadType":"str","x":170,"y":80,"wires":[["54f0a50c.90032c"]]},{"id":"d5ef8381.b607f","type":"comment","z":"f10266af.85d1d8","name":"Set Server Version","info":"","x":110,"y":40,"wires":[]},{"id":"54f0a50c.90032c","type":"function","z":"f10266af.85d1d8","name":"Set Server Version","func":"// eg. \"MONICON-PLC_ServerV0.1.1\"\nglobal.set(\"serverVersion\", msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":80,"wires":[[]]},{"id":"ec06f4da.471e98","type":"mqtt in","z":"b2cf18f9.40fb08","name":"","topic":"sess/MONICON-PLC/CMD/DeleteCreateLocalDB/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":210,"y":160,"wires":[["36352e9d.a43ef2"]]},{"id":"945edc59.bd44b","type":"delay","z":"b2cf18f9.40fb08","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":240,"wires":[["4072fc6c.876694"]]},{"id":"36352e9d.a43ef2","type":"function","z":"b2cf18f9.40fb08","name":"Check Server macAddr","func":"let serialID = msg.topic.substring(msg.topic.lastIndexOf('/') + 1, msg.topic.length)\nlet macAddr = global.get(\"macAddr\") || 1;\nif(serialID != macAddr) {\n    return\n}\n\nmsg.topic = \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\nmsg.payload = \"Local Database has been reset.\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":160,"wires":[["2df922e1.7335ee","945edc59.bd44b","e0b3d285.d02f2"]]},{"id":"e0b3d285.d02f2","type":"link out","z":"b2cf18f9.40fb08","name":"","links":["4580be70.b4c24"],"x":815,"y":160,"wires":[]},{"id":"b9007edf.54d2f","type":"mqtt in","z":"2c9c8225.aca0fe","name":"","topic":"MONICON-PLC/STAT/Thresholds_PT100/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":680,"wires":[["51e46d9e.f8dd34","1a8bc631.bd053a"]]},{"id":"27c13cfd.bdb764","type":"mqtt in","z":"2c9c8225.aca0fe","name":"","topic":"MONICON-PLC/STAT/Thresholds_4n20/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":180,"y":800,"wires":[["5304624a.ef0bec","1a8bc631.bd053a"]]},{"id":"51e46d9e.f8dd34","type":"link out","z":"2c9c8225.aca0fe","name":"L-Thres_PT100-Para","links":[],"x":475,"y":680,"wires":[]},{"id":"5304624a.ef0bec","type":"link out","z":"2c9c8225.aca0fe","name":"L-Thres_4n20-Para","links":["7010bf18.67104"],"x":475,"y":800,"wires":[]},{"id":"1a8bc631.bd053a","type":"function","z":"2c9c8225.aca0fe","name":"Prefex(USER)","func":"msg.topic = \"sess/\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":740,"wires":[["7db7e9f6.0e72d8"]]},{"id":"5e80962e.bfac88","type":"link out","z":"b30f5484.d6e578","name":"","links":["4580be70.b4c24"],"x":575,"y":80,"wires":[]},{"id":"b0693de9.14368","type":"comment","z":"b30f5484.d6e578","name":"GLOBAL DEVICE SEARCH","info":"","x":140,"y":140,"wires":[]},{"id":"25a05da.65587a2","type":"mqtt in","z":"acc8696e.dd6ae8","name":"","topic":"MONICON-PLC/STAT/CaliPub_4n20/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":170,"y":500,"wires":[["fb6d6aaf.6e13e8"]]},{"id":"3aee3d12.7fca32","type":"mqtt in","z":"acc8696e.dd6ae8","name":"","topic":"MONICON-PLC/STAT/CaliPub_PT100/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":180,"y":580,"wires":[["fb6d6aaf.6e13e8"]]},{"id":"9637c15d.7193c","type":"comment","z":"acc8696e.dd6ae8","name":"Scale Parameters","info":"","x":110,"y":460,"wires":[]},{"id":"fb6d6aaf.6e13e8","type":"function","z":"acc8696e.dd6ae8","name":"Prefex(USER)","func":"msg.topic = \"sess/\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":540,"wires":[["d8734eca.70bd7"]]},{"id":"fdda4d21.03c63","type":"comment","z":"b30f5484.d6e578","name":"Poll Cycle Times","info":"","x":120,"y":1840,"wires":[]},{"id":"85428708.660548","type":"mqtt in","z":"b30f5484.d6e578","name":"","topic":"MONICON-PLC/STAT/TenSecondLoopLimit/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":210,"y":1880,"wires":[["83e447f7.757f28"]]},{"id":"83e447f7.757f28","type":"function","z":"b30f5484.d6e578","name":"Prefex(USER)","func":"msg.topic = \"sess/\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1880,"wires":[["c1fd798e.f57698"]]},{"id":"c1fd798e.f57698","type":"link out","z":"b30f5484.d6e578","name":"","links":["4580be70.b4c24"],"x":735,"y":1880,"wires":[]},{"id":"37f2aaec.9f78a6","type":"comment","z":"b30f5484.d6e578","name":"Task Complete Messages","info":"","x":150,"y":1940,"wires":[]},{"id":"57ace943.eed568","type":"mqtt in","z":"b30f5484.d6e578","name":"","topic":"MONICON-PLC/STAT/RespondMessages/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":210,"y":1980,"wires":[["349b3eaa.55ff32"]]},{"id":"349b3eaa.55ff32","type":"function","z":"b30f5484.d6e578","name":"Prefex(USER)","func":"msg.topic = \"sess/\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1980,"wires":[["3f7d52b9.55ec2e"]]},{"id":"3f7d52b9.55ec2e","type":"link out","z":"b30f5484.d6e578","name":"","links":["4580be70.b4c24"],"x":735,"y":1980,"wires":[]},{"id":"97bd8139.20142","type":"comment","z":"b30f5484.d6e578","name":"Enable Analog Timer to Stream values to Broker","info":"","x":220,"y":2040,"wires":[]},{"id":"e0ac1a90.f88e88","type":"mqtt in","z":"b30f5484.d6e578","name":"","topic":"sess/MONICON-PLC/CMD/UpgradeGrafana/#","qos":"2","datatype":"auto","broker":"4d64fa3d.ad0334","x":210,"y":2080,"wires":[[]]},{"id":"e090f0.e1814f1","type":"exec","z":"b30f5484.d6e578","command":"sudo /home/pi/JC/grafanaGithubSetup.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Update Local Grafana Dashboard ","x":840,"y":2080,"wires":[["64f0aeb2.2af73"],["6455b79.5805b48"],[]]},{"id":"3cd7d3b9.f97bec","type":"function","z":"b30f5484.d6e578","name":"Check Server","func":"let serialID = msg.topic.substring(msg.topic.lastIndexOf('/') + 1, msg.topic.length)\nlet macAddr = global.get(\"macAddr\") || 1;\nif(serialID != macAddr) {\n    return\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":2080,"wires":[["e090f0.e1814f1"]]},{"id":"64f0aeb2.2af73","type":"function","z":"b30f5484.d6e578","name":"RTM","func":"let macAddr = global.get(\"macAddr\");\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\nmsg.payload = \"Local Grafana Updated Successfully\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":2100,"wires":[["7e4e9e4d.554ff"]]},{"id":"7e4e9e4d.554ff","type":"link out","z":"b30f5484.d6e578","name":"","links":["4580be70.b4c24"],"x":1255,"y":2100,"wires":[]},{"id":"c424bdbd.70db4","type":"mqtt in","z":"b30f5484.d6e578","name":"","topic":"sess/MONICON-PLC/CMD/UpgradeGrafana/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":210,"y":2140,"wires":[["3cd7d3b9.f97bec"]]},{"id":"6455b79.5805b48","type":"function","z":"b30f5484.d6e578","name":"RTM","func":"let macAddr = global.get(\"macAddr\");\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":2160,"wires":[["7e4e9e4d.554ff"]]},{"id":"ce713418.52f698","type":"function","z":"b30f5484.d6e578","name":"RTM","func":"let macAddr = global.get(\"macAddr\");\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":1280,"wires":[["d16123e4.295ff"]]},{"id":"3e78ea0c.b3b566","type":"function","z":"b30f5484.d6e578","name":"RTM","func":"let macAddr = global.get(\"macAddr\");\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1450,"y":1180,"wires":[["d16123e4.295ff"]]},{"id":"d256dfc6.f8507","type":"function","z":"b30f5484.d6e578","name":"RTM","func":"let macAddr = global.get(\"macAddr\");\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":400,"wires":[["5736c607.567d48"]]},{"id":"75616733.28e848","type":"function","z":"f10266af.85d1d8","name":"RTM","func":"let macAddr = global.get(\"macAddr\");\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":300,"wires":[["5f02f1d6.fa7dd"]]},{"id":"8ad9ac5c.51b4a","type":"comment","z":"f10266af.85d1d8","name":"Download Scripts","info":"","x":100,"y":640,"wires":[]},{"id":"7e954702.dd51d8","type":"mqtt in","z":"f10266af.85d1d8","name":"","topic":"sess/MONICON-PLC/CMD/Scripts/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":160,"y":680,"wires":[["67651526.eba36c"]]},{"id":"67651526.eba36c","type":"function","z":"f10266af.85d1d8","name":"Scripting","func":"let serialID = msg.topic.substring(msg.topic.lastIndexOf('/') + 1, msg.topic.length)\nlet macAddr = global.get(\"macAddr\") || 1;\nif(serialID != macAddr) {\n    return\n}\n\n//let directory = \"MONICON\";\n\n//var data = \"sudo find /home/pi/ -type d -name 'MONICON/Scripts' -exec rm -r {} +;\"\nvar data = \"sudo rm -r /home/pi/MONICON/Scripts;\"\ndata = data.concat(\"sudo git clone https://github.com/jimmy232/MoniconPLC_Scripts.git /home/pi/MONICON/Scripts/;\");\ndata = data.concat(\"sudo chmod +x /home/pi/MONICON/Scripts/*.sh;\");\ndata = data.concat(\"sudo /home/pi/MONICON/Scripts/\" + msg.payload + \";\");\nmsg.payload = data;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":680,"wires":[["7f557acd.caf294","e49e28ca.b0cfa8","c1eae680.33a7f8"]]},{"id":"7f557acd.caf294","type":"exec","z":"f10266af.85d1d8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":790,"y":680,"wires":[["fa6197c4.a986b8"],["fa6197c4.a986b8"],["fa6197c4.a986b8","9b5aa63d.40b878"]]},{"id":"fa6197c4.a986b8","type":"function","z":"f10266af.85d1d8","name":"Logs","func":"let macAddr = global.get(\"macAddr\")\nlet serverVersion = global.get(\"serverVersion\") || \"nVersion\";\nmsg.topic =  \"sess/MONICON-PLC/STAT/LogMessages/\" + macAddr;\nif(msg.payload === null || msg.payload.length == 0) {\n    msg.payload == \"Empty Msg\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":680,"wires":[["1a8e78f8.5064e7"]]},{"id":"9b5aa63d.40b878","type":"function","z":"f10266af.85d1d8","name":"RTM","func":"let macAddr = global.get(\"macAddr\")\nlet serverVersion = global.get(\"serverVersion\") || \"nVersion\";\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\n\nif(msg.payload.code === 0) {\n    msg.payload = \"Script-Finished\";\n} else {\n    msg.payload = \"Script-Failed\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":720,"wires":[["1a8e78f8.5064e7"]]},{"id":"1a8e78f8.5064e7","type":"link out","z":"f10266af.85d1d8","name":"","links":["4580be70.b4c24"],"x":1195,"y":840,"wires":[]},{"id":"e49e28ca.b0cfa8","type":"function","z":"f10266af.85d1d8","name":"Logs","func":"let macAddr = global.get(\"macAddr\")\nlet serverVersion = global.get(\"serverVersion\") || \"nVersion\";\nmsg.topic =  \"sess/MONICON-PLC/STAT/LogMessages/\" + macAddr;\nif(msg.payload === null || msg.payload.length === 0) {\n    msg.payload == \"Empty Msg\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":800,"wires":[["1a8e78f8.5064e7"]]},{"id":"c1eae680.33a7f8","type":"function","z":"f10266af.85d1d8","name":"RTM","func":"let macAddr = global.get(\"macAddr\")\nlet serverVersion = global.get(\"serverVersion\") || \"nVersion\";\nmsg.topic =  \"sess/MONICON-PLC/STAT/RespondMessages/\" + macAddr;\nmsg.payload = \"Running Scripts...\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":840,"wires":[["1a8e78f8.5064e7"]]},{"id":"7cc030b3.ed18e","type":"mqtt in","z":"3711ff2e.e13bf","name":"","topic":"MONICON-PLC/STAT/DigitalOutputStatus/#","qos":"2","datatype":"auto","broker":"7dc9807f.d7441","x":190,"y":580,"wires":[["9a9adaa3.c15088"]]},{"id":"b7f77a16.03ed28","type":"comment","z":"3711ff2e.e13bf","name":"Digital Output Status","info":"","x":110,"y":540,"wires":[]},{"id":"9a9adaa3.c15088","type":"function","z":"3711ff2e.e13bf","name":"Prefex(USER)","func":"msg.topic = \"sess/\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":580,"wires":[["b7fba335.742e8"]]},{"id":"b7fba335.742e8","type":"link out","z":"3711ff2e.e13bf","name":"","links":["4580be70.b4c24"],"x":675,"y":580,"wires":[]},{"id":"ac507902.b5db98","type":"mqtt in","z":"b30f5484.d6e578","name":"","topic":"sess/MONICON-PLC/ENG/#","qos":"2","datatype":"auto","broker":"4d64fa3d.ad0334","x":140,"y":320,"wires":[["d41c299f.9be078"]]},{"id":"d41c299f.9be078","type":"function","z":"b30f5484.d6e578","name":"ENG => CMD","func":"msg.topic = msg.topic.replace(\"ENG\", \"CMD\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":320,"wires":[["d5410c81.f1f34"]]},{"id":"4ef6226e.25a79c","type":"mqtt in","z":"b30f5484.d6e578","name":"","topic":"sess/MONICON-PLC/PUB/#","qos":"2","datatype":"auto","broker":"4d64fa3d.ad0334","x":140,"y":380,"wires":[["3c00974e.99a318"]]},{"id":"3c00974e.99a318","type":"function","z":"b30f5484.d6e578","name":"PUB => CMD","func":"msg.topic = msg.topic.replace(\"PUB\", \"CMD\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":380,"wires":[["d5410c81.f1f34"]]},{"id":"2db254bf.5bff7c","type":"comment","z":"b30f5484.d6e578","name":"MASTER MQTT LINK","info":"","x":140,"y":2220,"wires":[]}]